[2019-09-10 12:33] arashb opened #1 "update the readme file"

[2019-09-10 12:34] arashb opened #2 "fix the bazel build files"

[2019-09-10 12:34] arashb opened #3 "add c++ testsuite"

[2019-09-10 12:36] arashb opened #4 "setup the CI system"

[2019-09-10 13:48] Tombana opened #5 "Implement optimized bitpacking"
This [stackoverflow post](https://stackoverflow.com/questions/49918746/efficiently-accumulate-sign-bits-in-arm-neon) might be useful for bitpacking using NEON.

[2019-09-10 14:05] arashb opened #6 "Add naive Implementation of the binary conv op"
- [x] bitpacking
- [x] Im2col
- [x] BGEMM
- [x] putting everything together

[2019-09-10 14:20] arashb opened #7 "add ".gitignore" and ".clang-format" files"

[2019-09-10 14:35] arashb opened #8 "the pip package does not include .so library"
[code]

[2019-09-10 15:16] #8 closed, assigned to arashb

[2019-09-10 15:25] #7 closed, assigned to arashb

[2019-09-10 15:32] arashb opened #11 "add larq compute engine to PyPI"
we need to reserve the name for larq-compute-engine. I guess we push this initial version which does not have any functionality before going completely public! what do you think @lgeiger ?

[2019-09-10 18:37] #4 closed, assigned to lgeiger

[2019-09-11 09:48] arashb opened #18 "add a procedure to test each new op with TF lite"
converting the ops from TF to TF Lite with the TF lite convertor does not work for custom ops since new ops need its own kernel and op implementation with TF lite OpResolver. -> we need a procedure to add and test the new custom ops. This requires building the TF lite with new ops and use the binary in a c++ program which executes the op exactly the same way our users would use our ops in their mo

[2019-09-11 17:32] #2 closed, assigned to arashb

[2019-09-12 08:19] arashb opened #22 "add python benchmark testsuite"

[2019-09-12 09:28] Tombana opened #23 "Switch to a single build system (bazel)"
Maintaining two buildsystems (Makefile and bazel) is too much work.

Dependency handling like downloading google-test and so on is easier in bazel. The azure system should also use the bazel system.

We can leave a Makefile that *only* includes a simple build command for the library (which assumes all the dependencies are already present), for easier development when you are locally recompiling th

[2019-09-13 09:43] #3 closed, assigned to arashb

[2019-09-19 09:54] Tombana opened #31 "Add padding support to bitpacking"
Add padding support so that tensor dimensions do not have to be multiple of 64.

[2019-09-20 09:44] #22 closed, assigned to Tombana

[2019-09-20 13:59] Tombana opened #32 "Add 'packed' datatype."
It might make sense to have a `packed` datatype, or maybe `packed8`, `packed32` etc which is really just `uint8` / `uint32` under the hood.
This way, we can have the bitpacking op that sends `float` to `packed32`, and then the `bgemm` op should only accept `packedXX` as inputs and produces `intYY` as outputs. Then it will properly give an error if you try to run bgemm on non-packed data. This way,

[2019-09-23 09:01] arashb opened #33 "add c++ benchmark testsuite"
take a look what TF is using internally and if its too cumbersome to use the TF mechanism the google benchmark looks like the right tool to add to the compute-engine infrastructure: https://github.com/google/benchmark

[2019-09-25 21:18] arashb opened #37 "add tests for bconv op with padding, strides and dilation"

[2019-09-26 10:37] Tombana opened #38 "TF lite deployment options"
The normal TF lite system consists of a C++ library which can be used directly (on android, ios, raspberry pi etc), and wrappers around it for python (laptops and raspberry pi), Java (Android apps) and iOS apps. All wrappers use the same C++ library as core.

There are several ways we can add our custom ops to this:

1. (current method) First compile the tflite C++ library. Then compile our own fu

[2019-09-26 13:38] Tombana opened #39 "TF lite Android deployment"
We currently support Raspberry Pi and iOS but not Android.
This is because the build system for Android uses Bazel wheras the other targets work with a Makefile.
We have to figure out if we can have a Bazel file that has tflite android as a dependency but with our library added to it.

[2019-09-27 08:05] Tombana opened #40 "TF lite converter weight bitpacking"
Ideally we would like the TF lite converter to store the binary weights in a packed way so that the tflite model file stays small.

Another option might be that we write a tool ourselves that takes a converted `.tflite` model and does another pass on it, transforming the weights appropriately.

[2019-09-30 17:44] Tombana opened #44 "TFLite conversion bug in TF1"
These are some notes and thoughts on tflite conversion.

When converting models, we could put either `tf.sign` or `lqce.bsign` in the graph. It doesn't matter which you choose because both of these become custom ops ("Sign" or "Bsign") and in tflite we can handle them appropriately. We can even register both strings in tflite and refer them to the same op.

There is still a weird issue about data

[2019-10-03 02:41] #31 closed, assigned to nobody

[2019-10-06 18:44] arashb opened #49 "add support of zero-padding (padding type 'SAME' in TF) in binary convolution op"
doing zero-padding in {-1,1} space with im2col algorithm is not trivial because injected zeros in im2col buffer, depending on the implementation, will be interpreted as -1 or 1 which leads to wrong results.

currently I propose the following solution: storing the negative value of the corresponding kernel cell in each padding cell so after im2col and in XNOR operation of bgemm the elements cancel

[2019-10-07 13:47] arashb opened #50 "moving the back transformation to the {0} space numbers in BN"

[2019-10-07 14:45] arashb opened #51 "Add prebuilt TF lite static library to repo to speedup the build"

[2019-10-07 15:10] arashb opened #52 "Bit-packing of input tensor along channel dimension"
Current implementation of in compute-engine is as following:
- im2col
- bitpack the im2col matrix and filter matrix
- BGEMM

However, it makes sense to bitpack the input matrix first along the channel dimension (you might need extra bitpadding) and do the im2col afterward (or fuzed bitpacking-im2col algorithm)

[2019-10-07 16:13] arashb opened #53 "add binary fully connected operator"
Binary fully connected operator is in essence doing binary matrix matrix multiplication (BGemm). Assume that the input is M × N , the weight is N×K (M is the batch size,N is the number of neurons of the previous layer, K is the number of neurons of the current layer)

[2019-10-07 16:18] arashb opened #54 "add binary max pooling operator"
bitwise OR can be used to get the max of a sequence of ones and zeros

[2019-10-07 18:17] #6 closed, assigned to arashb

[2019-10-07 18:17] #37 closed, assigned to nobody

[2019-10-09 09:02] Tombana opened #57 "ReorderAxesOperator in ModelConverter"
When converting a model to tflite, the converter will generally leave the tensors (inputs, weights) as they are, so that one can use the same code in tflite as in tf.
However, for Conv2D in particular, the most efficient memory layout for the *weights* is `[Out channels, H, W, In channels]`. In TF, however, they are stored as `[H, W, In channels, Out channels]`. One would therefore want to store t

[2019-10-09 12:49] Tombana opened #58 "Check for tensorflow release tag"
See the comments in PR #55 .
Once a new tag, such as `v2.0.0-rc3` includes [this commit](https://github.com/tensorflow/tensorflow/commit/e329eec6c1448b4eccf6aec90cae7000dcfc7a0c) then we can use that tag for our submodule, instead of a random commit.
This is also better with regards to Issue #51 .

[2019-10-09 20:20] arashb opened #62 "flaky TF Lite inference tests"
the tflite python inference tests are failing in  PR #61 despite the fact that any thing related to those test cases are not touched in this PR. So i guess the tests are flaky!

[2019-10-10 15:30] #1 closed, assigned to arashb

[2019-10-10 15:35] #62 closed, assigned to Tombana

[2019-10-14 10:29] Tombana opened #66 "LICENSE"
Before we make the compute engine public, we should make sure we include proper licenses for all the things we are using, which is for now tensorflow and all the things it depends on.
For example, daBNN includes all kinds of indirect dependencies in its LICENSE file such as Eigen and Flatbuffers.

[2019-10-15 09:56] lgeiger opened #67 "Adhere to TensorFlow custom op naming scheme"
External custom ops should be prefixed with a namespace according to https://github.com/tensorflow/community/blob/master/rfcs/20190726-custom-ops.md#out-of-tree-ops-must-be-namespaced

I think we should adhere to that.

[2019-10-22 12:45] #32 closed, assigned to nobody

[2019-10-22 15:12] #18 closed, assigned to Tombana

[2019-10-22 15:51] #51 closed, assigned to Tombana

[2019-10-22 15:55] arashb opened #71 "implement optimized BGEMM for ARM architecture"
current reference GEMM implementation does not support multi-threading, cache optimization techniques, SIMD and many other optimization techniques used in efficient impl. of GEMM.

There are multiple projects that we can take a look for inspiration and extend their impl. for binary GEMM:
- [Eigen](http://eigen.tuxfamily.org/index.php?title=Main_Page)
- [OpenBLAS](https://en.wikipedia.org/wiki/Open

[2019-10-22 16:13] #38 closed, assigned to nobody

[2019-10-22 16:34] #23 closed, assigned to nobody

[2019-10-23 09:12] Tombana opened #73 "Use TFlite conv2d setup"
We should use the multithreading setup of tflite, as well as their im2col algorithm and all that.
Basically we can copy almost everything and only change the bgemm part.

[2019-10-23 11:19] arashb opened #74 "create bazel target to build tflite pip package and library"
the original bash script to build a pip package for TF is available here: https://github.com/plumerai/compute-engine/blob/master/build_pip_pkg.sh
this script is used here in bazel to create the pip package for TF through Bazel commands:
https://github.com/plumerai/compute-engine/blob/master/BUILD

we can use exact same approach to build the TF lite library and pip package by just running one bazel

[2019-10-23 21:05] arashb opened #76 "investigating TF lite SELECTIVE_REGISTRATION feature"
the feature SELECTIVE_REGISTRATION in TF Lite allows to create smaller TF lite library by only including the ops used in the converting model (see [here](https://youtu.be/Jjm7MT6W0Dc?t=758)). I couldn't find proper doc in the official TF lite guide though.

[2019-10-24 09:07] #67 closed, assigned to Tombana

[2019-10-24 13:22] #49 closed, assigned to arashb

[2019-10-29 16:31] arashb opened #79 "adding testsuite for ARM specific codebase"
code written with ARM assembly can only be tested on an ARM machine or an ARM emulator. Currently we have no testsuite for ARM architecture that we can run either on rasberry pi or on our Github actions with an ARM emulator.

[2019-10-31 11:04] #74 closed, assigned to Tombana

[2019-10-31 16:40] #33 closed, assigned to nobody

[2019-10-31 17:29] #57 closed, assigned to Tombana

[2019-11-04 07:46] arashb opened #83 "simplify and document how to run the tests for TF lite ops"
there are multiple steps to build and figure out how to run the python tests for tf lite ops. this needs to be simplified and documented (the only documentation I could find was in Github actions instructions)

[2019-11-04 07:50] arashb opened #84 "C++ testsuite for TF lite code"
We need a C++ testsuite for TF lite (similar the one for TF) so we can test individual components (currently there are only python tests in ops level and not components level)

[2019-11-04 22:22] lgeiger opened #86 "Speedup CI builds using caching"
GitHub actions now supports [caching](https://help.github.com/en/github/automating-your-workflow-with-github-actions/caching-dependencies-to-speed-up-workflows) using [`actions/cache`](https://github.com/actions/cache). I think this could significantly speedup our CI build in particular the TFLite part.

Bazel supports different ways of caching build artifacts either via [remote caching](https://d

[2019-11-07 16:21] arashb opened #93 "adding support of dilation to padding_functor"

[2019-11-07 17:19] #73 closed, assigned to arashb

[2019-11-08 13:10] #79 closed, assigned to nobody

[2019-11-08 14:53] #84 closed, assigned to Tombana

[2019-11-08 15:22] #83 closed, assigned to Tombana

[2019-11-08 17:05] arashb opened #98 "bash script to build TF lite does not work with multiple arguments"
[code]

[2019-11-11 12:25] #98 closed, assigned to Tombana

[2019-11-13 11:10] #93 closed, assigned to Tombana

[2019-11-15 14:32] lgeiger opened #108 "Use op hints to simplify model TFLite conversion"
TF 2.1 introduced [`@tf.function(experimental_implements="larq.bsign")`](https://github.com/tensorflow/community/blob/master/rfcs/20190610-standardizing-composite_ops.md) to annotate custom implementations that can be represented by standard TF ops, but would benefit from custom implementations during deployment.
It would be great to integrate this into `larq` to make our TFLite conversion simpler

[2019-11-19 11:14] arashb opened #110 "fusing bitpacking with im2col operation for bitpacking along channel dimension"
falls #52 is finished, we can fuse the bitpacking with im2col. Technically we bitpack the channels while  we are copying them in im2col.

[2019-11-28 12:13] #58 closed, assigned to nobody

[2019-12-04 16:03] #50 closed, assigned to Tombana

[2019-12-06 13:43] arashb opened #121 "adding the extra ops required for linear trans. from binary to float to model converter."

[2019-12-10 10:32] arashb opened #122 "Investigating the issues related to QuickNet TF lite conversion"
- [ ] ```T``` vs ```TOut``` template name
- [ ] OpDef (see [here](https://github.com/tensorflow/tensorflow/blob/64c3d382cadf7bbe8e7e99884bede8284ff67f56/tensorflow/lite/toco/import_tensorflow.cc#L700)): What is it? is it only for builtin ops? if not, why it is not available for our bconv2d op?
- [ ] what are the differences between TF 2.0 and TF nightly-build which make it possible to convert Quic

[2019-12-10 12:18] arashb opened #123 "investigating performance of cached pre-packed matrices in RUY"
see https://github.com/tensorflow/tensorflow/commit/68c33b143ebaa8d0eea9338f67a6bec402a658ac

[2019-12-10 14:15] Tombana opened #124 "Future optimizations"
Things we know that might be faster, but that we left for now because it simplifies the code

- [ ] Move the `bitpack_array` C++ loop inside the assembly part. Gives speedup of about 5% for the `bitpack_array` function on Raspberry Pi.
- [ ] Remove the `bitpack_matrix` loop when there's no padding (i.e. `bitpack_matrix` becomes a single `bitpack_array` call).
- [ ] Decouple bitpacking bitwidth and

[2019-12-11 11:09] #5 closed, assigned to Tombana

[2019-12-18 09:19] #52 closed, assigned to nobody

[2019-12-18 10:25] arashb opened #129 "optimizing RUY packing algorithm for int32/64 inputs"
currently the ```generic``` algorithm is used for 32/64-bit bitpacked elements bc there is no template specialized impl. for the int64_t elements is implemented in RUY.

[2019-12-18 11:11] Tombana opened #130 "Benchmark a version of LCE_BMLA with less temporaries."
The current `LCE_BMLA` macro in PR #128 uses 4 temporary registers `v26, v27, v28, v29`.
We could do it with only 2 temporaries `v26, v27`, by reordering the instructions (same total number of instructions):

[code]

**if** the `eor`, `cnt`, `addv` instructions can run in parallel (out of order cores) then this version might be slower. But maybe they can only run in parallel with memory read/write

[2019-12-18 12:21] arashb opened #131 "Investigate the support of dilations"

[2019-12-18 13:24] #121 closed, assigned to Tombana

[2019-12-18 14:11] #131 closed, assigned to nobody

[2019-12-18 14:31] #71 closed, assigned to arashb

[2020-01-15 18:17] arashb opened #137 "benchmark files do not build"
the following command fails to build:
[code]
error output:
[code]

the padding_functor function interface is not updated in the benchmark files.

[2020-01-19 11:16] arashb opened #141 "model converter code cleanup"
- what are the changes we apply on the model in order to convert it to tflite flatbuffer? currently its a dozen of if-else statements impossible to read and modify! can we encapsulate each of these graph transformations in separate functions and map the graph trans. on the graph separately? (this is how the [TF lite TOCO graph transformation](https://github.com/tensorflow/tensorflow/tree/master/te

[2020-01-19 11:25] arashb opened #142 "QuickNet TF lite conversion problem"
I get the following error when I try to convert the quicknet with our LCE model converter:
[code]
It seems to me the model converter does not understand the output dimension of our op. I looked into our LCE conversion tool code and read about the TF lite converter [here](https://www.tensorflow.org/lite/guide/ops_custom#tf_graph_attributes). We are not setting the graph attributes for our custom op

[2020-01-19 17:21] #137 closed, assigned to Tombana

[2020-01-30 15:57] arashb opened #159 "LCE Graph Transform Optimization Collection"
In this issue, lets collect all LCE graph transform optimizations we encounter during the deployment of our custom networks so we can add them later to our new LCE model converter (see #141)

[2020-02-02 20:42] arashb opened #170 "MLIR converter"
the goal is to create a MLIR based converter with a clean separate pass for each transformation.
@lgeiger has already created the passes (in TF codebase) to create a LCE compatible tflite flatbuffer. The question is now how to integrate that into LCE codebase.

[2020-02-06 18:52] #39 closed, assigned to nobody

[2020-02-06 18:53] #44 closed, assigned to nobody

[2020-02-06 23:23] #86 closed, assigned to nobody

[2020-02-13 11:26] Tombana opened #182 "Fuse zero-padding system to be compatible with fused Relu and 8-bit clamping."
Currently the fused Relu ops are not compatible with zero-padding, and the 8-bit ops will have the same problem because they also require clamping.
We should therefore do the zero-padding before this clamping.
We can then [re-enable that test case](https://github.com/larq/compute-engine/blob/308bbfcd4b798f5995d1332022f0060677ebbc12/larq_compute_engine/tflite/tests/bconv2d_test.cc#L338).

One possi

[2020-02-14 15:01] #11 closed

[2020-02-14 15:11] #170 closed

[2020-02-14 15:11] arashb commented on #142
the new MLIR converter has fixed the issue.

[2020-02-14 15:11] #142 closed

[2020-02-14 15:12] arashb commented on #141
the issue is address in the new MLIR converter.

[2020-02-14 15:12] #141 closed

[2020-02-14 15:16] #130 closed

[2020-02-14 15:17] #122 closed

[2020-02-14 15:18] #108 closed

[2020-02-17 05:11] AdamHillier commented on #66
Is this not still an outstanding issue?

It seems to me that there are still some license issues with LCE.

One example I've found is [this file](https://github.com/larq/compute-engine/blob/bdd3c080ea330ad911cfb6b02dd41b6c574a7cf4/larq_compute_engine/tflite/benchmark/lce_benchmark_main.cc), which includes a TensorFlow copyright notice at the top, but has been modified by us (line 19 at the very le

[2020-02-17 13:55] Tombana commented on #66
Thanks for spotting that @AdamHillier . From what I can see:

- `larq_compute_engine/tflite/benchmark/lce_benchmark_main.cc ` There's indeed a few lines that changed so I think @AdamHillier 's suggestion is good there.
- `larq_compute_engine/tflite/tests/bconv2d_test.cc`   there the notice can be removed I think, as this is almost entirely our own file (simply inspired from a tflite unittest)
- `c

[2020-02-17 14:03] AdamHillier commented on #66
I know this is very pernickety, but if there's a commit history that shows a link from the original file to our version, even if the contents is almsost completely re-written, it might be best to err on the side of caution (I feel this more strongly with the second case than with the first).

[2020-02-17 14:51] #66 closed

[2020-02-25 14:22] lgeiger opened #244 "Setup MLIR converter tests"
MLIR has a nice infrastructure to [test conversion passes](https://mlir.llvm.org/getting_started/TestingGuide/). We should setup test for the conversion process to improve dev experience when adding new transforms.
Examples of MLIR test in the TF/TFLite ecosystem can be found [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/compiler/mlir/lite/tests) and [here](https://github.

[2020-02-26 15:55] #244 closed

[2020-03-03 18:09] Tombana commented on #182
We will not support zero-padding in combination with fused relu or 8-bit. (Only one-padding)

[2020-03-03 18:09] #182 closed

[2020-03-06 13:56] AdamHillier opened #270 "Run tests with debug builds"
We use the `RUY_DCHECK_EQ` macro in a few places such as here: https://github.com/larq/compute-engine/blob/4877c9b30789f728707586044473b7983ef642e4/larq_compute_engine/core/bgemm_kernels_common.h#L105-L108

This macro is only defined on debug builds (otherwise it's a no-op), but it looks like our tests aren't running debug builds, because I got suspicious that these checks weren't running, and it

[2020-03-06 14:05] AdamHillier commented on #270
The specific test that should fail btw is `cc_tests_aarch64_qemu`; I assume it's not correctly running a debug build because we can't use `bazel test` because of qemu.

[2020-03-06 15:17] #270 closed

[2020-03-10 14:08] Tombana opened #278 "Add one-padding to the end2end test"
One-padding is currently commented-out because its not in the release version of the larq pip package yet.

[2020-03-10 14:11] Tombana opened #279 "Automate generating cartesian products in the bconv unit tests"
The test parameters at the bottom of [bconv2d_test.cc](https://github.com/larq/compute-engine/blob/master/larq_compute_engine/tflite/tests/bconv2d_test.cc) should automatically be generated by something that generates cartesian products (like a nested `::testing::Combine`).

[2020-03-14 22:40] #278 closed

[2020-03-15 12:01] arashb opened #284 "add `clang-tidy` to CI"

[2020-03-15 12:33] lgeiger commented on #284
This could probably done using something like https://github.com/aszinovyev/bazel-compilation-db

[2020-03-15 13:01] arashb opened #285 "Creating LCE compatible TFLite iOS apps"
TFLite provides a [collection of example mobile apps](https://www.tensorflow.org/lite/examples) for specific DL applications. We already have a setup in place to build LCE Lite AAR to support Android (see #238) . No process (and documentation) is currently in place to support iOS. what needs to be done:

- [ ] setting up the LCE build process for iOS
- [ ] building the LCE Lite package with integr

[2020-03-17 20:46] Tombana opened #290 "Benchmark when "bitpack after im2col" is faster"
In `tflite/kernels/bconv2d.cc` in `decide_bitpack_before_im2col` the kernel decides if it should do bitpacking before or after im2col.

Currently this is simply `if (channels_in >= bitwidth / 4)`, based on old benchmarks. A simple benchmark shows that this is no longer the correct decision boundary, it should be closer to `bitwidth/2` judging from this plot:
![plot_latency](https://user-images.git

[2020-03-21 23:57] arashb commented on #285
to setup the LCE build process for iOS, first we need to create a LCE C API library similar to [TF Lite C API](https://github.com/tensorflow/tensorflow/blob/1210b521aa2226b01ee1bd9528a8f247b7283efb/tensorflow/lite/c/BUILD#L55). The LCE C API will be used in [TensorFlow Lite for iOS](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/ios) and its [swift interface](htt

[2020-03-24 06:00] #159 closed

[2020-03-28 14:03] arashb opened #317 "Automate the LCE AAR release"
We release the LCE AAR on [Bintray](https://bintray.com/plumeraihq/larq-compute-engine). Currently there is no automatic release mechanism in place in CI for LCE AAR.

[2020-03-30 19:39] arashb commented on #40
this is resolved in https://github.com/larq/compute-engine/commit/ef372f10cdb0edf6884c28cd873d2f3775470e2b

[2020-03-30 19:39] #40 closed

[2020-04-03 07:33] Tombana opened #325 "RFC: Create a Packed datatype"
As described in #305 we run into problems of overlapping datatypes.
At first we had `float` for normal data, and `uint8`, `uint32` and `uint64` for bitpacked data. Now we add `int8` for 8-bit quantized data, so this would still be fine without overlap of datatypes, but later we might have to add `uint8` for 8-bit quantized data as well, causing problems.
To further complicate things, the tflite te

[2020-04-06 09:22] AdamHillier commented on #325
I'm not experienced enough with C++ types and casting behaviour to really comment on what the right implementation of this would be, but I agree that it would be very nice to have an explicit bitpacked datatype - I think it would make the code a lot clearer - so I'm in favour of the idea in principle 👍

[2020-04-14 12:28] AdamHillier commented on #285
I have this working locally, and will make a PR to add support.

[2020-05-05 08:05] itayalfia opened #344 "8-bit quantization for non-binary layers"
Is it possible to use the converter in a way that would enable using tflite's default 8-bit post training quantization on layers and activations that were not quantized by larq? (Such as first, last conv layers).

It seems that currently the public conversion API externalizes only `convert_keras_model` and is not customizable by the user (as opposed to tflite's default converter)

[2020-05-05 14:16] lgeiger commented on #344
This is currently not possible with Larq Compute Engine 0.2.1.
However, we tried int8 post-training quantization with binary networks in the past and saw quite a substantial accuracy degredation for some models. We hypothesise that this is due to the TFLite quantization spec which quantizes values symmetrically around the zero point in order to accurately represent zero for things like padding. Fo

[2020-05-05 15:18] king3cheung opened #345 "support tensorflow lite micro"
is it possible to support tensorflow lite micro? in IOT field,esp32,stm32f7/f4 was widely used, but  no suitable binary neworks can run on these platforms with limited resourse。

[2020-05-05 17:27] itayalfia commented on #344
To verify I understand correctly - it means that during the training of the BNN, there is a substantial amount of FP values that are computed, that happen to stay at the `[-scale, scale]` range? It sounds it should be a problem (because of flipped signs), even if the 8-bit quantization was not zero centered, right?

Do you have a theory for why it happens? I would have expected very few FP activat

[2020-05-06 21:21] rnusselder commented on #345
Hey! That's a great question. We at Plumerai are developing Larq Compute Engine Micro. This leverages TFLite Micro and targets Cortex-M microcontrollers for efficient BNN inference. We are currently planning to keep this closed, but I'd love to chat with you to see if we can help you. You can reach me here: roeland@plumerai.com.
Best,
Roeland

[2020-05-07 15:52] king3cheung commented on #345
Thank you for your response,you guys are doing a great  job!  I would like to know your opinion about porting Larq Compute Engine to eps32 cam, it's a interesting and  challenging  job. I will contact you for your help if i want to start this job,if there are some other guys Interested in this question, we can discuss together.

[2020-05-08 19:58] rnusselder commented on #345
We haven't really looked into porting Larq Compute Engine to ESP32 yet. Cortex-M was the obvious platform to start with, and there's relatively little documentation for ESP32. Anyway, it would be great to do this eventually!

[2020-05-12 16:54] lgeiger opened #358 "Update Benchmark table in readme"
#350 significantly improved performance on ARM64. It would good to update the table on the readme to reflect that.

@AdamHillier I think we can take the RP4 benchmarks directly from your PR. So only the Pixel 1 benchmarks are missing, correct?

[2020-05-12 16:57] AdamHillier commented on #358
Yep, sounds good to me :+1:

Actually the latency numbers I got for my baseline for that PR were already a chunk better than the ones in the README, so I think we must have got a boost from something else as well, maybe the TF2.2 upgrade?

[2020-05-12 17:04] lgeiger commented on #358
TF 2.2 sounds likely, I think one could get even faster numbers now using the XNNPack delegate for the float32 ops, but I think that would require a bit more testing.

[2020-05-12 21:55] lgeiger commented on #358
Closed via #359

[2020-05-12 21:55] #358 closed

[2020-05-15 09:18] arashb commented on #54
this can be closed after https://github.com/larq/compute-engine/pull/364 is merged.

[2020-05-21 15:39] AdamHillier opened #371 "`BConv -> BN -> MaxPool -> BConv` pattern not being applied correctly with bitpacked activations."
Here is an example of a network sub-graph without our LCE optimisations being applied (hence no fusing of the ReLU and multiply/add):

<img width="150" alt="image" src="https://user-images.githubusercontent.com/7688302/82575238-19408780-9b80-11ea-9d4b-10b1ad17c394.png">

In theory, with our optimisation pass (and `experimental_enable_bitpacked_activations=True`) this should be transformed to `-(fl

[2020-05-22 00:07] #371 closed

[2020-05-22 12:24] #54 closed

[2020-05-26 16:52] #123 closed

[2020-05-28 02:00] johnrobinsn opened #383 ""Slow" inference times on a raspberry pi"
Using a converted version of the provided Quicknet pretrained model from the zoo... and using an lce build (built on the rpi target itself... Make instructions).  I'm able to get inference working fine... but the time for the interpreter->Invoke() on a pi 3b+ is around ~**800ms**.  any pointers/tips on what might be going on?    I'm expecting something much closer to the ~40ms reported for the pi

[2020-05-28 08:41] AdamHillier commented on #383
Hey, thanks for your interest in Larq and LCE!

Just to be sure, which version of Larq Compute Engine pip package are you using to convert the model, and which version of LCE are you using to run the converted model on your Raspberry Pi (the most recent commit hash from your local clone)?

Are you using our [`benchmarking binary`](https://github.com/larq/compute-engine/blob/master/larq_compute_eng

[2020-05-28 10:12] johnrobinsn commented on #383
Thanks for your response.
Here is the hash from my local git clone:
$ git show --oneline -s
7c0562a (HEAD -> master, origin/master, origin/HEAD) Make sure end2end test fail when assertions fail in C++ (#374)

To measure the performance, I'm using an lce-minimal derived test that I've created... and I'm just timing a single  interpreter->Invoke call wrapped with some calls to clock_gettime...

I've

[2020-05-28 12:16] AdamHillier commented on #383
Okay so the LCE version and the model both look correct.

Sorry, I forgot to ask one other thing: are you running a 64-bit OS on your Raspberry Pi? Our optimised Arm kernels are implemented for 64-bit Arm, so when using a 32-bit OS LCE falls back to reference kernels that will be quite a bit slower. The 64-bit OS we use on our Raspberry Pi boards (4B version, though it should work for 3B too) is [

[2020-05-29 03:09] johnrobinsn commented on #383
Thanks Adam for the extra detail...

I was using 32 bit build on Raspbian.

I rebuilt on Manjara 64 bit and confirm that I'm seeing around 73ms inference time with the same quicknet model on my Raspberry Pi 3b+ using 4 threads..

**Any plans for improving the 32bit performance?**

Great project thanks for sharing.

[2020-05-29 09:11] AdamHillier commented on #383
Great to hear :)

At the moment I don't think 32-bit optimised kernels are on our radar. The implementation would be trickier; for example on Arm32 there are half the number of NEON vector registers that we need to use in our assembly kernels. There would also be an increased maintenance burden. Conversely, almost all of our target devices of interest are 64-bit Arm (and 64-bit devices will only b

[2020-05-30 07:25] kirstenhipolito opened #388 "Error in replicating Quicknet benchmark results on Raspberry Pi 4 B"
Hello,

I've been having issues when trying to replicate the Quicknet benchmarks on Raspberry Pi. When I try to benchmark the Quicknet model, I get this error:

![image](https://user-images.githubusercontent.com/48355953/83322232-8511a700-a288-11ea-91e7-0e56f2c32303.png)

Initially, I was doing it on Raspbian Buster, but similar to #383, I got a very slow inference time (using the benchmarking too

[2020-05-30 09:30] lgeiger commented on #388
Thanks for checking out larq compute engine.

We recently made some breaking changes in preparation for our next releases (mainly #373 and probably #386 soon as well).

This means `master` is currently not compatible with `.tflite` files generated with the 0.3.1 converter pip package. Once we move to a v1.0 release we will try to make sure we have proper op versioning so that issues like that are

[2020-05-30 12:43] kirstenhipolito commented on #388
Thanks for the update.

I tried building from release v0.3.1 (cloned using `git clone -b 'v0.3.1' --single-branch https://github.com/larq/compute-engine.git`, then did the same as above. However I get this error during the build.

![image](https://user-images.githubusercontent.com/48355953/83328424-81484980-a2b5-11ea-93f9-b50712528713.png)

I do still get binaries built in _third_party/tensorflow/

[2020-05-30 12:58] lgeiger commented on #388
@kirstenhipolito did you check that you correctly checked out the git submodule in `third_party/tensorflow`?

You can make sure that it points to the right version by doing:
[code]

I haven't used the make build myself, but cross compiling from x86 via the instructions [here](https://docs.larq.dev/compute-engine/build_arm/#cross-compiling-lce-with-bazel) should work correctly as well.

[2020-05-30 17:54] kirstenhipolito commented on #388
I re-built compute-engine again following your instructions above, doing the make build, but I still got the same error.

Afterwards, I tried to also cross compile from ARM from x86 (within the Docker container, built the binaries using bazel), and it built successfully. However, when I copied the binaries to the Pi, and benchmarked quicknet_larq.tflite again, I got this error.

![image](https://u

[2020-05-30 18:04] lgeiger commented on #388
Not sure what's going on with the make build there, did you run `larq_compute_engine/tflite/build_make/build_lce.sh --clean` before building the binary?

Which version of the larq compute engine pip package are you using to convert the model?
You can check this by running `pip freeze | grep larq-compute-engine`.

It should be `v0.3.1` in order to match your ARM binary, if not you can easily upgrad

[2020-05-30 19:38] kirstenhipolito commented on #388
Yes initially I ran --clean before rebuilding, but got the error. To be sure, I deleted my local copy then just cloned again, but I still got the same error.

It turns out this was the problem for me! I was using a v0.2.1 lce pip package, and when I updated it to v0.3.1 and re-converted the model, I was able to get 17.7 ms average inference time.

Would there be a resolution on the errors when nat

[2020-06-01 10:32] lgeiger commented on #388
Glad you got it to work 🚀

I am not familiar with the make build, @Tombana do you know what could be going on here?

[2020-06-04 17:24] kirstenhipolito commented on #388
Thanks for helping to resolve my issue! Since the replication problem has been addressed, I'll be closing this issue and opening a new issue for the error on natively compiling using make.

[2020-06-04 17:24] #388 closed

[2020-06-04 17:59] kirstenhipolito opened #396 "Error when natively compiling compute-engine on Raspberry Pi 4"
I've been trying to natively compile LCE using make (following the instructions in [https://docs.larq.dev/compute-engine/build_arm/](https://docs.larq.dev/compute-engine/build_arm/).

I initially ran into "command not found" errors, because the wrong `ar` command is used in the Makefile (both `third_party/tensorflow/tensorflow/lite/tools/make/Makefile` and `larq_compute_engine/tflite/build_make/Ma

[2020-06-05 13:13] Tombana commented on #396
Thanks for writing up this issue!

Regarding the "command not found errors": on my local raspberry pi, with Majaro, the `ar` command is present, so I'm not sure why you got that error. But it looks like you found a fix using `gcc-ar`.

I think I've found the cause of the `register.o` problem. The TFLite makefile outputs the library in `..../gen/linux_aarch64/lib/libtensorflow-lite.a` but our LCE m

[2020-06-05 15:51] kirstenhipolito commented on #396
Thanks, using `--native` instead of `--aarch64` worked for me, I'm able to duplicate quicknet benchmark using the benchmark_model binary.

[2020-06-08 17:15] HuJiawei24 opened #400 "Floating point model runs even faster than Binarized model created by larq."
I used Larq to create a binary resnet20 and a full precision resnet20 by setting the input quantiser and kernel quantiser to 'set_sign' and None respectively. I then converted the .h5 file into tflite files which are subsequently executed on raspberry pi4. The full precision model is even faster than the binary model, but the tflite file size looks correct as the full precision model file is much

[2020-06-08 17:15] #400 closed

[2020-06-08 17:18] HuJiawei24 commented on #400
Hi, I’m sorry for the reply as I was extremely busy last week. The issue was solved when I used 64 bit os. Thank all of you for your kind help!!

[2020-06-08 17:19] lgeiger commented on #400
Glad you got it working 👍

[2020-06-15 12:11] lgeiger commented on #383
I am closing this issue since the original problem has been resolved. @johnrobinsn Feel free to open a new issue if we are missing a case where upgrading to a 64-bit OS would not be possible.

[2020-06-15 12:11] #383 closed

[2020-06-15 12:33] lgeiger opened #406 "Add MLIR verifier to BConv op"
Since #384 we can make use of the [IR verification](https://mlir.llvm.org/docs/OpDefinitions/#custom-verifier-code) features of MLIR.

Our BConv op has a few parameter combinations where [it can throw during `Init` or `Prepare`]( https://github.com/larq/compute-engine/blob/master/larq_compute_engine/tflite/kernels/bconv2d.cc). In the converter we try to make sure that none of those cases will ever

[2020-06-15 14:28] lgeiger opened #407 "Support conversion from saved model"
Currently Larq Compute engine exposes [`convert_keras_model`](https://nightly.docs.larq.dev/compute-engine/api/converter/#convert_keras_model-function) as the only way to convert models. This is useful when converting models within the training script, but can be cumbersome when sharing networks since Keras `.h5` files might require additional code to properly load models  with custom layers.

The

[2020-06-16 03:26] honglh opened #408 "lce_minimal.cc fails"
when I run the sample example (cross-compile) `lce_minimal` with converted pretrained quicknet, on RPI3, 32-bit, I got these errors
[code]
can you give more details what this error is? Is there something I need to initialize the input image with?

[2020-06-16 08:11] Tombana commented on #408
Thanks for trying out our examples!

We've recently pushed some breaking changes to the tflite kernels and converter. The publicly available quicknet model is converted with the public converter, which is LCE version `v3.1.0`.
Until we publish the new converter, you have to (cross-)compile LCE from that tag: https://github.com/larq/compute-engine/tree/v0.3.1 . Please let us know if that works :smi

[2020-06-16 12:22] lgeiger opened #409 "Improve build instructions"
Our [build instruction](https://docs.larq.dev/compute-engine/build/) currently recommend to clone the repo from master when building. This has caused some confusion since models converted with the stable pip package might not be compatible with the the runtime built from master (E.g. #408, #388, and [spectrum comment](https://spectrum.chat/larq/compute-engine/encountered-unresolved-custom-op-resiz

[2020-06-16 22:52] honglh commented on #408
v0.3.1 works for me. thanks!

[2020-06-17 00:06] honglh commented on #409
from build instructions [https://docs.larq.dev/compute-engine/build_arm/](here)

[2020-06-17 07:33] Tombana commented on #409
Thanks @honglh, we'll add that to the build instructions!

[2020-06-17 07:39] Tombana commented on #408
Thanks for trying to build the pip package.
When building it, bazel will look up the python version in the system by internally running something like `which python`. In the docker container, the `python` command is by default python 2.7.
The easiest way to fix this is to first run the following inside your docker container:
[code]
to force `python` to point to python 3.7. Another option is to cre

[2020-06-17 07:41] Tombana commented on #409
Note to self: the build instructions for the converter have to be updated. By default they build for the wrong python version, see https://github.com/larq/compute-engine/issues/408.

[2020-06-17 09:03] lgeiger commented on #409
Good point.
I think it might also be useful to add a big note that recommends using the stable converter from pypi if possible since building it from source can be a bit of a pain.

[2020-06-17 13:29] jneeven commented on #409
The build instructions could also use some description of how to get bazelisk on MacOS, they currently only specify what to do for linux:
[code]
(@leonoverweel )

[2020-06-17 13:31] leonoverweel commented on #409
Yeah just running `brew install bazel` did not work:

[code]

[2020-06-17 13:33] AdamHillier commented on #409
You can `brew install bazelisk` I believe. And if not, you can install [through npm](https://docs.bazel.build/versions/master/install-bazelisk.html).

[2020-06-17 13:34] AdamHillier commented on #409
(Personally, I install bazelisk through brew, and then symlink `/usr/local/bin/bazel -> /usr/local/bin/bazelisk`.)

[2020-06-17 13:57] leonoverweel commented on #409
Nice, this seems to have worked for me.

[2020-06-22 09:18] azaganidis commented on #344
Hello, is this feature currently supported? I tried to export a model that I built base on the example in https://github.com/larq/compute-engine/blob/7e1e4f4dae5492d59a61a6bbf07cd8760e36cd58/larq_compute_engine/tests/end2end_test.py#L117 and after exporting it to tflite the float operations are not replaced by int8, but wrapped with fake_quantization operations. Am I missing something, or is it no

[2020-06-22 10:18] Tombana commented on #344
@azaganidis The LCE converter v0.3.1 (the one you get from `pip install`) currently does not support this. You can try to build the converter on the master branch, which has experimental support for int8 models. Then the `end2end_test.py` example that you mention should result in a model with int8 ops.

We are still updating our build documentation, so please check out this comment to make sure yo

[2020-06-22 17:23] azaganidis commented on #344
Thank you, now the conversion seems correct. However, I cannot execute the model with lce_benchmark_model. I have compiled that too from master, and it fails with the error message `ERROR: Strides vector should have size 4.` on the test model, on node 0.

[2020-06-22 17:39] Tombana commented on #344
Thanks for trying it out! The `strides` attribute has also recently been updated (https://github.com/larq/compute-engine/pull/373). The error you get suggests that the `lce_benchmark` binary was compiled from another branch, or from an older commit. Are you sure `lce_benchmark_model` was built from the latest master?

We are planning to provide pre-built binaries for Aarch64. If rebuilding on mast

[2020-06-23 13:35] dddf-fly opened #410 "lce_minal error"
I use larq_compute_engine  convert V0.3.1 in the pip repository.
The lce runtime I build is V0.3 too,but I got ERROR :Encounter unresolved custom op:Mul.
ERROR: Node number 11(Mul) failed to prepare.

[2020-06-23 15:31] Tombana commented on #410
Hi, thanks for trying out LCE!
Could you open your converted `.tflite` file with [netron](https://lutzroeder.github.io/netron/) and post a screenshot of that? (or send the `.tflite` file itself if that is easier)

[2020-06-23 15:50] lgeiger commented on #410
@Tombana This seems to be related to [this issue](https://spectrum.chat/larq/compute-engine/encoutered-unresolved-custom-op-mul~5fc8c71b-c1dd-4c0e-b57c-2b27761a8d3b) since LCE currently doesn't have support for binarized dense layers.

[2020-06-24 02:05] dddf-fly commented on #410
Yes,It is related to the issue(https://spectrum.chat/larq/compute-engine/encoutered-unresolved-custom-op-mul~5fc8c71b-c1dd-4c0e-b57c-2b27761a8d3b). the .tflite I'm using is your mnist example on your website, and I converted it by lce.convert_keras_model. Does it means that I can not use BatchNormalization layer after QuantDense layer?
![批注 2020-06-24 095934](https://user-images.githubusercontent.

[2020-06-24 02:45] dddf-fly commented on #410
I use the larq.models.summary(model) to show the model. I got the following output. What dose the "?" in the column "1bit-MACS" and "32-bit MACS" mean?
![批注 2020-06-24 104512](https://user-images.githubusercontent.com/65340203/85492472-cd15b680-b607-11ea-93ce-308c16d6f750.png)

[2020-06-24 07:49] Tombana commented on #410
Thank for the clarification.
Currently we don't support binary fully-connected layers in LCE (only binary convolutions). That means the converter will leave them as `float32` or `int8` layers, so they can be executed by tflite, but they will not be as fast as a binary layer could be.

However in version `v0.3.1` of the converter, constant-folding is not yet implemented, and that means a BatchNorma

[2020-06-24 07:56] dddf-fly commented on #410
Thank you very much for your detailed explanation.

[2020-06-24 07:56] #410 closed

[2020-06-24 08:12] koenhelwegen commented on #410
This means MAC counts for these layers is not supported. The layers for which the MAC count is supported are listed [here](https://github.com/larq/larq/blob/04ea8153ef10484dab68873cfe3ea37db5615ca4/larq/models.py#L14) - for any other layer we print question marks (these are ignored when calculating the total). Beware that by MACs we strictly mean multiply-accumulate ops such as appear in convoluti

[2020-06-24 09:19] dddf-fly commented on #410
Thank you very much for your detailed explanation. I still have one more question. What does "32-bit MACS" mean? Does it include multiply–accumulate operation for both  32-bit integers and 32-bit float numbers?

[2020-06-24 11:52] koenhelwegen commented on #410
To determine the bit width of the operation we look at the precision attribute of the quantizers on input weights & activations and take the maximum. If no quantizer is found, we default to 32. So anything without Larq quantizers will show up as 32, incl `tf.int32` and `tf.float32` (but also `tf.float16`, `tf.float64` etcetera - the summary is intended to get an overall idea of the network, for mo

[2020-06-25 02:44] dddf-fly commented on #410
Thank you very much for your detailed explanation.

[2020-06-25 21:22] lkindrat-xmos opened #411 "Error during compilation of LCE converter"
I have been trying to build the LCE converter as described in https://docs.larq.dev/compute-engine/build/ and got the following error when running `bazel build :build_pip_pkg` in the docker container:
[code]
Let me know if you need any additional info.

[2020-06-25 21:29] lkindrat-xmos opened #412 "Broken links to LCE converter page"
Some links on https://docs.larq.dev/compute-engine/ (and maybe elsewhere) are pointing to https://docs.larq.dev/compute-engine/converter/ (but it should probably be https://docs.larq.dev/compute-engine/api/converter/).

[2020-06-25 22:17] Tombana commented on #411
Thanks for raising this issue! I will try to reproduce this.

By the way, our build docs need some updating, because by default the docker container will have `python` pointing to python 2, and that means bazel will build the pip package for python 2 as well, and you likely want to build it for python 3. This could be done by symlinking `python` to `python3.x` and then running `bazel clean --expun

[2020-06-26 10:45] koenhelwegen commented on #412
Thanks for flagging this! #413 will fix this on master, in principle the website is synced with the next release.

[2020-06-26 11:07] #412 closed

[2020-06-26 12:26] lkindrat-xmos commented on #411
Thanks Tom, the build was successful outside the container.

[2020-06-26 12:30] Tombana commented on #411
Glad to hear that.
I reproduced the problem locally, I'm not sure what the cause is. Our CI builds use the same docker container and don't crash. However they are running the following script for each build, in order to set the python versions: https://github.com/larq/compute-engine/blob/master/.github/tools/release_linux.sh  I expect that somewhere in one of the `apt-get install` commands, some p

[2020-06-26 12:32] Tombana commented on #409
Note to self: make sure that the bug in #411 does not occur when the build instructions are updated.

[2020-06-30 02:51] honglh commented on #408
With v0.3.1 I had initial build success with aarch64. However, when my disk got corrupted and needed to build again, I couldn't get it to build anymore.

[code]

[code]

Any suggestions?

[2020-06-30 07:48] Tombana commented on #408
Hi @honglh, thanks for raising this issue.
I think you're running into the problem described here: https://github.com/larq/compute-engine/issues/396#issuecomment-639471974

We will try our best to fix the build system before our next release, but until then, you can use `--native` instead of `--aarch64` and then it should work.

[2020-06-30 13:00] honglh commented on #408
thanks. Hardcoding target to linux in `Makefile` solved the problem

[2020-07-02 15:56] dddf-fly opened #420 "Does Lce Compute engine V0.3.1 has optimized BConv2D layer for x86_64 architecture?"
I compile Lce Compute Engine V0.3.1 on Ubuntu 18.04.4 on a x86 computer? I use a two layer network to compare the model size(.tflite file size) and the speed between BNN and full precision network ? The speed  for BNN is slightly slower, and the model file size is bigger than the full precision network. The network I use is a two Conv2D layers  network. I just want to compare the speed and model s

[2020-07-02 16:09] Tombana commented on #420
Hi @dddf-fly, thanks for trying out LCE. Currently we have optimized code for 64-bit ARM processors (Aarch64). If you use LCE on x86 it will produce correct results but it will not be as fast.

The size of the `.tflite` file with a BConv2D layer should be a lot smaller than with a normal Conv2D layer, this is independent of the platform, so it sounds like something went wrong there. Could you open

[2020-07-02 21:04] AdamHillier opened #421 "Int8 default ranges break when a bconv is followed by a normal conv."
## Observed behaviour

When converting this model...

[code]

...we obtain the following converted model, with extra dequantise and quantise nodes around the `Conv2D`:

<img width="196" alt="image" src="https://user-images.githubusercontent.com/7688302/86408451-efb26a00-bcae-11ea-9440-200e40cc0946.png">

 ## Expected behaviour

We expect there to be no dequantise or quantise nodes in a converted m

[2020-07-02 21:16] AdamHillier commented on #421
Just to note, until we fix this in LCE this issue can be worked around by explitly adding TensorFlow fake quantise ops before and after the problematic layer that doesn't get converted properly.

E.g.:

[code]

<img width="187" alt="image" src="https://user-images.githubusercontent.com/7688302/86409753-69e3ee00-bcb1-11ea-9907-6c2110e41821.png">

(It may not be clear from the screenshot, but the co

[2020-07-02 23:03] lgeiger commented on #421
Looks like we are running into https://github.com/tensorflow/tensorflow/issues/40055 here since the `bias` tensors are shared which prevents quantization of the 8bit BConv.
E.g. the following network with a non-zero bias results in the correct output:
[code]

[2020-07-03 01:36] dddf-fly commented on #420
I upload the two .tflite files. The file whose filename is  "my_model_f.tflite" represent the full precision network . The file whose filename is  "my_model_b.tflite" represent the binary weighted neural network . I use "larq.models.summary(model)" to use the network , the "memory (KB)" column  for the binary weighted network is smaller than the full precision network. But the file size(.tflite) f

[2020-07-03 08:21] Tombana commented on #420
Thanks for uploading the models. The reason that your model did not get smaller, is that in LCE's binary convolutions, the number of input-channels are first padded with 0's up to **multiples of 32**. So if you have 60 input channels, then it will add 4 zeroes and it will be stored as 64 channels.
In your case, you had 1 channel everywhere in the model, so that got stored as 32 channels, increasin

[2020-07-03 08:23] Tombana commented on #421
Just an extra note: if that's indeed the cause of the bug, then training the network (on any dataset, even random data) for just 1 epoch should also fix this, and will work on any type of network.

[2020-07-03 08:26] AdamHillier commented on #421
@lgeiger do you have any idea why a `Conv2D` combined with a `Conv2D` works though, wouldn't that run into the same issue of shared bias tensors?

[2020-07-03 08:42] lgeiger commented on #421
There it is not a problem since both biases will be converted to int32 and still can be shared. The reason it fails is because `BConv2d` expects float whereas `Conv2d` expects int32 which can't be satisfied with a share tensor. Note that this is only a problem with the default ranges pass and not with conversion of a trained network that doesn't rely on default ranges.

[2020-07-04 07:02] dddf-fly commented on #420
Thank you very much for your quick reply. It helped me a lot.

[2020-07-04 07:02] #420 closed

[2020-07-06 20:46] lkindrat-xmos opened #423 "Output tensor is used by LceBconv2d in toy_model_int8"
I'm experimenting with the following toy model from `end2end_test.py`:

[code]

The output model and a visualization are attached here: [model_larq_int8.zip](https://github.com/larq/compute-engine/files/4881109/model_larq_int8.zip)

Strangely, tensor 14 is not only the output of the model, but also an input to the two binary ops as well. I'm not sure how to run the tests for the LCE, but wouldn't

[2020-07-06 21:02] lgeiger commented on #423
I am not sure if I understand the visualization you linked correctly. I haven't manually inspected the flatbuffer, but if I open the model in [netron](https://github.com/lutzroeder/netron) it correctly shows only four inputs to the BConv and no usage of Tensor 14, whereas your visualization tool shows five:
<img width="909" alt="Screenshot 2020-07-06 at 22 52 56" src="https://user-images.githubuse

[2020-07-06 21:31] lkindrat-xmos commented on #423
Thanks for looking into this, I looked at the flatbuffer, and it seems that my visualizer was interpreting the -1 input index (i.e. optional) incorrectly as the last one in the tensor list.

[2020-07-06 21:31] #423 closed

[2020-07-06 21:38] lgeiger commented on #423
:+1:

On a different note, if you want to make use of `experimental_enable_bitpacked_activations=True` I'd recommend to remove `activation=quant` from the first BConv so that the two BConvs can correctly read and write bitpacked output.

[2020-07-07 18:14] achigeor opened #424 "Question about binary Deconv"
Hi,

First of all thank you for the great library! Very easy to use and integrate into existing TF training pipelines! :+1:

I have a question regarding `QuantConv2DTranspose`. I run some simple benchmarks and it seems that there is no difference in speed between binary and real. Actually, it seems that the real variant is a tad faster too:
*  Inference: 8312.83 for a single binary deconv layer
*

[2020-07-08 08:37] Tombana commented on #424
Thanks!

We currently have no optimized binary transpose convolution, so it will fallback to the non-binary one and it uses `LceBsign` to make sure the inputs are in `{-1, +1}`. The extra `LceBsign` is the reason that its just slightly slower than the non-binary case. This is expected behaviour.

[2020-07-08 10:29] achigeor commented on #424
Thanks for the quick response and explanation @Tombana!

Some followups:
* Is there a list of the optimized binary operations somewhere?
* Is there a [public] roadmap for the optimization of non-optimized ops?
* Would it be safe to just use the non-binary transpose conv in combination with binary ops, or is this a matter of experimentation / network specific?

[2020-07-08 13:55] lgeiger commented on #424
We [will have a list of supported binary operations (only bconv2d and maxpool)](https://nightly.docs.larq.dev/compute-engine/api/operators/#lcebconv2d) in the docs for the upcoming 0.4 release.

Currently we don't plan to add more ops in the near future as we are mostly working on improving the process with our current set of ops (e.g. compatibility with int8 and some refactors to stabilize the op

[2020-07-09 17:35] achigeor commented on #424
Thanks for the clarifications and links @lgeiger!

The current focus makes a lot of sense. Would be great if there's a public roadmap indeed, helps a lot to understand the progress as well as limitations.
* Regarding my usecase: I'm currently more of exploring the world of BNNs for vision - reading papers and training basic networks. So I was playing around with different layers and architectures

[2020-07-17 08:10] andrewstanfordjason opened #428 "DstScalar Type"
I'm looking at https://github.com/larq/compute-engine/blob/master/larq_compute_engine/core/bconv2d_impl_ref.h
and notice how the packed inputs and filters are std::uint32_t but when packed output are used they are std::int32_t. Is there a reason for this?

[2020-07-17 09:16] Tombana commented on #428
That is a good question.

We try to use unsigned types everywhere for all our bitpacked datatypes (`uint8`, `uint32`, `uint64` depending on the bitpacking blocksize). However, Tensorflow Lite does not support setting tensor types to unsigned (with the exception of `uint8`), so when the bconv has to output 32-bit bitpacked data, we can only request a signed `int32` tensor from Tensorflow Lite. This

[2020-07-17 12:27] lgeiger commented on #424
For adding new ops #365 is probably the best place to start. The optimized implementation of our BConv2D for AArch64 can be found [here](https://github.com/larq/compute-engine/blob/master/larq_compute_engine/core/bgemm_kernels_arm64.h) in order to use the op in an actual model support in the converter would need to be added as well which converts the [TF ops to the relevant optimized binarized ops

[2020-07-22 02:58] honglh opened #431 "BgemmKernel for ARM32"

[2020-07-22 03:07] honglh commented on #431
Hi,

Based from [BgemmKernel 64](https://github.com/larq/compute-engine/blob/master/larq_compute_engine/core/bgemm_kernels_arm64.h)  and [Ruy](https://github.com/google/ruy/blob/master/ruy/kernel_arm32.cc) I have implemented the 32 bit BgemmKernel.  I have tested on RPI2 32bit, RPI3 32-bit and they have comparable performance against RPI3 64-bit, though I have not run full benchmark.

Please check

[2020-07-22 03:40] honglh commented on #431
I can see a couple CI/CD builds failed on github.  Not sure how to run the tests offline. Please let me know if you have more details of the error or some instructions I can test the build offline in my local setup.  Thanks!

[2020-07-22 08:36] lgeiger commented on #408
@honglh As @Tombana mentioned, we had some breaking changes between v0.3.1 and the current master that changed a few kernel arguments in the converter.

Since building the converter from `master` can take a long time (and is a bit painful too) we recently started publishing nightly releases of the converter pip package built from master intended for testing.

For getting started with kernel develo

[2020-07-22 08:42] lgeiger commented on #409
Note to self: I think it makes sense to also have docs for a "development" setup which goes into detail on how to run the tests and install LCE from master.

[2020-07-22 08:48] lgeiger commented on #431
Thank you very much for contributing and sorry for the missing instructions on how to properly setup a dev environment we'll try to add a proper guides soon. For now I hope the following will get you started:

Please checkout and let me know if that works for you https://github.com/larq/compute-engine/issues/408#issuecomment-662323177

[2020-07-22 10:51] lgeiger opened #435 "Optimize canonical bitbacking"
We've been discussing seperating `BSign` from `BConv` some time ago. In order to do this eventually we need to standardise on canonical bitpacking across our ops. `BConv` on AArch64 internally uses an optimized bitpacking implementation with different ordering, in order to be able to change this to canonical ordering our canonical bitpacking implementation needs to be optimized so we don't loose p

[2020-07-26 13:50] AdamHillier commented on #435
While thinking about a nice way to do this, I came up with a much more computationally efficient version of non-canonical bitpacking:

[code]

This reduces the number of compute instructions (not load or store) from 16 in our [current implementation](https://github.com/larq/compute-engine/blob/38a92d960d9b100ac39909c391fcec5dd870c698/larq_compute_engine/core/packbits_aarch64.h#L17-L44) to just 6.

[2020-07-26 14:04] AdamHillier commented on #435
Alternatively, if we want to double-down on performance and continue with non-canonical bitpacking, then I would imagine the best way to do that is to unroll the loop in assembly. The ASM code block in my comment above bitpacks 64 floats, but the final stage of computation is actually sub-optimal: the `uzp2`, `uzp1`, `sri`, `st1` are all just operating on the lower half of the registers. We could

[2020-07-27 17:44] AdamHillier commented on #435
To add:

I've been reading the [Cortex-A72 software optimisation guide](https://static.docs.arm.com/uan0016/a/cortex_a72_software_optimization_guide_external.pdf) again, and it has instruction throughput (per-cycle) figures for each Neon instruction.

Both `LD1` and `LD4` have a throughput of `1/4` when loading four registers at a time, which means that if you have fewer than four compute instruct

[2020-07-27 18:06] AdamHillier commented on #435
The story for more recent CPU designs is a bit more complicated.

The Pixel 4 CPU has slightly-customised Cortex-A76 cores, and on Cortex-A76 it's possible to do 4-register `LD1` loads with throughput `1/2`, which is twice as quick. It's also possible to do a 2-register `LD2` load with throughput `1`, or equivalently the same `1/2` throughput for loading four registers. But weirdly, 4-register `LD

[2020-07-28 08:29] Tombana commented on #435
Thanks for all these investigations, very interesting and very useful to know!

I haven't read the manual, but are these throughput figures dependent on if the data was in `L{1,2,3}` cache? In our scenario the data was written to memory by the previous layer shortly before, so its likely still in one of the bigger caches.

[2020-07-28 09:12] AdamHillier commented on #435
Yes, I agree that these are best-case numbers :+1:

The figures I am quoting are for the ASIMD load instructions `ld1`, `ld2`, ... (always the 'multiple/Q-­form' variants) from the table that starts at the bottom of page 31. I'm actually not sure what the difference is between the instructions you listed, but in any case you're definitely right that we likely have more than 16 cycles to play with.

[2020-07-31 11:04] xross opened #445 "Question: model with bitpacked output"
For testing our kernels I would like to produce a single operator model with bitpacked output, the toy model looks like the following:

[code]
I have been successful in producing bitpacked intermediary's between successive Conv2D's but not at the model output - - - granted this is not a normal use case!

Setting activation to `quant` produces an int8 output, `activation=None` produces a float32 ou

[2020-07-31 11:12] AdamHillier opened #446 "Standardise on 32-bit bitpacking"
At the moment, we perform either 64-bit bitpacking or 32-bit bitpacking. Once #443 is merged, the only difference between the two will be whether we are bitpacking into uint32s or uint64s, i.e. whether we pad the number of channels to a multiple of 64 or a multiple of 32.

Since #351 was merged, both 64-bit bitpacked bconvs and 32-bit bitpacked bconvs have used the exact same assembly kernel for e

[2020-07-31 11:24] AdamHillier commented on #445
That is a good point, and something I'd thought of before. At the moment, the converter will set the bconv op output tensor type to be int32 (i.e. bitpacked output) only when the subsequent (and only) use of the tensor is as input into another bconv or binary maxpool op. So the answer is that currently this is not possible.

I think it's fair to say that we will want to support this if it's easy t

[2020-07-31 11:27] Tombana commented on #445
In our TFLite code (not micro), we have unittests that do test models like that: https://github.com/larq/compute-engine/blob/master/larq_compute_engine/tflite/tests/bconv2d_test.cc
These tests build a single-op model and run the interpreter on that, this is how most tflite unittests work. I'm not sure if it actually creates a valid flatbuffer file during the process that you might be able to extra

[2020-07-31 12:11] lgeiger commented on #445
I agree that this shouldn't be the default behaviour as exposing internal bitpacked representation to users seems to be quite error prone (e.g. if the output of the model is post-processed or passed into another TFLite model writing bitpacked output could potentially lead to unexpected behaviour since only our BConv and BMaxPool ops correctly handle bitpacked int32 input). Though, I am not a big f

[2020-07-31 12:37] AdamHillier opened #447 "Separate our 'bsign' and 'bconv' ops"
At the moment, our `bconv` op can read either float or int8 or bitpacked inputs, and can write either float or int8 or bitpacked outputs. When the input is not bitpacked, the first step that the op performs is calling a bitpacking procedure. Conceptually, this is almost like a 'sub-op', which doesn't need to be the responsibility of the bconv. We could instead make the `bconv` op accept only bitpa

[2020-07-31 13:07] xross commented on #445
Thanks for the responses. To clarify my query, we do test individual ops at the C level as you might expect, however we do also run a bunch of single op models through our integration test suite in order to test end-to-end operation (i.e. model->LCE converter->xformer).  We'll likely generate a dual op model and generate a pass to snip off the 2nd op in our test system until such time the feature

[2020-08-04 09:44] Tombana opened #450 "Preprocessed outputtransform"
We can include the `1.0 / output_scale` multiplication into the `post_activation_multiplier`, and we can reorder the `clamp` (activation function) and the backtransform:

Old:
- backtransform `n - 2 * x`
- clamp
- `x * multiplier[channel] + bias[channel]`
- divide by int8-scale, add int8 zero-point
- int8-saturate

New:
- multiply by 2 (bitshift) `2 * x`
- clamp
- `x * multiplier[channel] + bias[c

[2020-08-04 10:45] lgeiger commented on #431
Closed via #432

[2020-08-04 10:45] #431 closed

[2020-08-04 10:57] koenhelwegen opened #452 "Benchmarking guide"
Add guide that walks user through the process of converting and benchmarking a Larq model on an android phone or raspberry pi.

[2020-08-05 15:11] lgeiger commented on #447
I roughly implemented the required changes in the converter which was rather painless. Though for the conversion patterns when reading and writing bitpacked output of the `bconv` it might make sense to discuss some of the implementation details beforehand.
We briefly discussed the three possible implementations before, but I think it might be useful to have them explicitely written down here for r

[2020-08-06 08:55] #435 closed

[2020-08-06 15:15] lgeiger commented on #445
@xross I think after #457 is merged, this will become a bit easier.
While we will still not be able to have bitpacked model output, it will be possible to generate a single layer model, e.g:
[code]
This will be converted to
<img width="155" alt="Screenshot 2020-08-06 at 17 05 06" src="https://user-images.githubusercontent.com/13285808/89548719-ab633e00-d807-11ea-977c-00ad87427af4.png">
with quanti

[2020-08-07 09:44] xross commented on #445
Great, thanks for the update - this should do nicely I believe. Our xformer already strips the builtin QUANTIZE/DEQUANTIZE so can extend to strip the LceQuantize/Dequantize

[2020-08-11 17:59] lkindrat-xmos opened #458 "LceBconv2d "padding" custom option enum"
It looks like the `padding` custom option is encoded as a `TfLitePadding` enum value. While there is nothing that prevents using this in a custom option, it is slightly odd since the built-in TFL operators all use the `Padding` enum from the schema. The difference is that `TfLitePadding` can encode unknown padding, which is not permitted by the schema (only same and valid).

If there is no need fo

[2020-08-13 15:29] lgeiger commented on #458
I am not sure if I correctly understand your question, could you elaborate a bit more? The bconv op is a TFLite custom op which only allows for custom options using flexbuffers.

TFLite builtin ops work a bit differently and have [operator options defined in the flatbuffer schema](https://github.com/tensorflow/tensorflow/blob/6bcd7a22d588d48c2faa7ea495350b0cb5f32ba0/tensorflow/lite/schema/schema_v

[2020-08-13 16:01] lkindrat-xmos commented on #458
I am not at all suggesting moving away from custom options.

This is precisely what I meant. There are existing functions for conversion here that the TFL runtime uses: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/core/api/flatbuffer_conversions.cc#L124

`TfLitePadding` to me looks like an implementation detail of the TFL runtime and I think it is a good idea to use it in t

[2020-08-13 16:14] AdamHillier commented on #458
I also have no strong feelings about this at all, I'm fine with changing it.

[2020-08-17 08:41] Tombana commented on #458
This makes a lot of sense, I'm fine with changing it to `Padding`.

I think when we implemented this, I originally picked `TfLitePadding` because '`Padding` -> `TfLitePadding`' just seemed like an extra conversion step that the runtime would have to do, so why not cut it out to make the code simpler. @lkindrat-xmos's argument is much better, so lets change it to `Padding`.

[2020-08-17 13:06] lgeiger commented on #458
Sounds great! We can do this after #461 and #457 have been merged to prevent unnecessary merge conflicts.

[2020-08-18 13:53] #446 closed

[2020-08-19 10:05] #458 closed

[2020-08-19 13:07] lkindrat-xmos commented on #458
Thanks guys, we appreciate it!

[2020-08-21 08:57] lgeiger opened #469 "Update benchmark table in Readme"
We've made a lot of great performance improvements lately, before releasing v0.4 we need to update the [official benchmarks](https://github.com/larq/compute-engine#performance) in the README.

[2020-08-25 07:58] #469 closed

[2020-08-25 11:17] lgeiger commented on #445
This has been implemented in #457 and will be part of the 0.4 release. I'm closing this issue for now, feel fre to reopen if you run into any issues.

[2020-08-25 11:17] #445 closed

[2020-08-25 11:19] lgeiger commented on #290
Since #457 we will always bitpack before im2col, so this issue can be closed.

[2020-08-25 11:19] #290 closed

[2020-08-25 11:20] lgeiger commented on #110
Since #457 bitpacking now happens in a separate op, so we can close this issue.

[2020-08-25 11:20] #110 closed

[2020-08-25 11:22] lgeiger commented on #124
Closed via #443

[2020-08-25 11:22] #124 closed

[2020-08-25 11:22] #129 closed

[2020-08-25 11:25] lgeiger commented on #279
BConv tests have been simplified a lot in #467 so I think we can close this.

[2020-08-25 11:25] #279 closed

[2020-08-26 10:44] lgeiger commented on #450
After discussing this offline, we decide not to do this preprocessing already in the flatbuffer converter as this would expose too many implementation details.

Closing this issue for now, as this optimization can be done in the kernel `Prepare` step or a custom target specific flabuffer transformer.

[2020-08-26 10:44] #450 closed

[2020-08-28 09:09] Tombana commented on #428
We have now standardized on 32-bit bitpacking since https://github.com/larq/compute-engine/pull/461, so we have a single `TBitpacked` type, which is `std::int32_t`. I'm closing this issue, but feel free to ask more questions.

[2020-08-28 09:09] #428 closed

[2020-08-28 12:25] Tombana commented on #409
Here I'm collecting the build issues that people have run into, with a green circle if they've been fixed.

- :red_circle: In general, people had trouble with mismatching compiler/runtime versions (https://github.com/larq/compute-engine/issues/408 but I think also other users). The docs should reflect this version-matching more clearly.

- :green_circle:  https://github.com/larq/compute-engine/iss

[2020-08-28 15:26] #396 closed

[2020-08-28 15:26] #408 closed

[2020-08-28 20:24] lgeiger commented on #409
Closed via https://github.com/larq/docs/pull/124

[2020-08-28 20:24] #409 closed

[2020-08-28 20:24] lgeiger commented on #411
Closed via https://github.com/larq/docs/pull/124

[2020-08-28 20:24] #411 closed

[2020-10-08 19:46] lkindrat-xmos opened #527 "Question re the channels_in option of LceBconv2d operator"
According to the API docs, the `channels_in` option represents the "Number of input channels of the incoming activations. This is necessary since input channels cannot be inferred from the shape of weights and activations if both are bitpacked." Assuming that the input and weight tensors have shapes `[1, Hi, Wi, Bi]` and `[Bo, Kh, Kw, Bi]`, and that both these are bitpacked (in tensors of 32 bit i

[2020-10-08 20:04] lgeiger commented on #527
That is correct, LCE has full support for `channels_in % 32 != 0`. Although it will not be optimial from a performance perspective since e.g. a `channels_in=33` would have similar performance to `channels_in=64`.

We can infer `channels_out` from the first dimension of the filter which is not bitpacked:
https://github.com/larq/compute-engine/blob/c8689f9d06c3f072e994ed520c8e8051ab978271/larq_compu

[2020-10-08 20:08] lkindrat-xmos commented on #527
Cool, thanks for the clarification, I missed that!

[2020-10-08 20:08] #527 closed

[2020-10-14 15:12] lkindrat-xmos opened #535 ""pad_values" custom option"
I noticed that the LceBconv2d operator docs (https://docs.larq.dev/compute-engine/api/operators/) don't mention the `pad_values` option. Is this intentional? If not, are the values for this option 0 or 1 (representing 1 and -1)? Thanks!

[2020-10-14 15:15] AdamHillier commented on #535
Ah good point, we should definitely update the docs to include that. The options are 0 (the default) or 1, where the former means true zero padding (like in main TensorFlow), and the latter is equivalent to padding with the float value `+1.0f`, but is implemented by padding with the bit 0, because in LCE the bit 0 represents `+1.0f` and the bit 1 represents `-1.0f`.

[2020-10-14 15:22] lkindrat-xmos commented on #535
Makes sense, thanks! So it possible (maybe not yet, but in theory), to specify -1 as `pad_values` representing `-1.0f` implemented by bit 1?

[2020-10-14 15:45] AdamHillier commented on #535
Yes we definitely could do that if necessary, it would be pretty straightforward - we'd just need to make the im2col padding byte an argument rather than a constant zero: https://github.com/larq/compute-engine/blob/87d18302ee894b53767275bd34c5186b05a12159/larq_compute_engine/core/bconv2d/optimized_bgemm.h#L31

[2020-10-14 15:48] Tombana commented on #535
In theory `pad_values` could be an arbitrary float value, i.e. one could train a network where the convolution input is padded with the value `+5.76f`. Any `pad_value` that is not `-1` or `+1` would require a "correction step" in our current approach.
The current version of LCE will throw if `pad_value` is not 0 or 1.

[2020-10-14 15:56] lkindrat-xmos commented on #535
Great, thanks for the clarification!

[2020-10-21 16:21] lkindrat-xmos opened #541 "experimental_enable_bitpacked_activations failure for same padding"
I understand that this feature is experimental, but I ran into the following issue: it looks like when two binary convolutions follow each other, an `LceQuantize` op is injected if the first convolution has same padding. The padding of the second convolution seems to have no effect on the outcome:

[code]

Here are the output flatbuffers:
[larq_bitpacked_padding_bug.zip](https://github.com/larq/co

[2020-10-21 16:26] AdamHillier commented on #541
Thanks for the issue :) This is expected behaviour if `pad_values=0` is set in the Larq `QuantConv2D`, as is the default. If `pad_values=1` is used then your example should work. The reason we don't perform the correct transformation in the zero-padding case in the converter is that the LCE optimised kernels don't support writing bitpacked output with 'same-zero' padding.

[2020-10-21 16:34] lkindrat-xmos commented on #541
Thanks for the clarification! In this case, would it be a good idea to raise a warning in the converter (i.e. when using `experimental_enable_bitpacked_activations` with 'same-zero' padding)?

Also, if the reference implementation supports bitpacked output with 'same-zero' padding, shouldn't this cause a runtime error in the optimized implementation instead (and raise a warning as well during conv

[2020-10-21 17:00] AdamHillier commented on #541
Sometime soon we want to make `experimental_enable_bitpacked_activations=True` turned on by default.

I completely agree that we should work out a good way to raise warnings for models which won't convert in an 'optimal' way -- essentially any eggregious violation of our [model optimisation guide](https://docs.larq.dev/compute-engine/model_optimization_guide/). It's slightly complicated for a few

[2020-10-21 17:01] AdamHillier opened #542 "Warn users when converting models which can't be optimally accelerated"
We should work out a good way to raise warnings for models which won't convert in an 'optimal' way -- essentially any eggregious violation of our [model optimisation guide](https://docs.larq.dev/compute-engine/model_optimization_guide/). It's slightly complicated for a few reasons:
* We need to decide where to raise warnings (in Larq, in the LCE converter)?
* Many of the warnings we could raise ar

[2020-10-21 17:02] AdamHillier commented on #541
^I've copied the above into issue #542.

[2020-10-21 17:42] lkindrat-xmos commented on #542
My two cents: I would try to decouple Larq from any conversion-related logic, including when to warn. (TensorFlow doesn't give you a warning either when you use an operator that cannot be efficiently converted by TFLite.)

How about a `target` argument to the converter, where one could specify `"reference"` or `"Aarch64"` (or others later), with the latter being the default (if desired) for compat

[2020-10-21 17:48] lkindrat-xmos commented on #541
Passing `pad_values=1` worked as you said. Feel free to close this issue, thanks!

[2020-10-21 17:50] #541 closed

[2020-10-22 20:31] lkindrat-xmos opened #548 "Unused buffers"
As I continue to hack my way around the LCE, I noticed that the flatbuffer models have some unreferenced buffer objects in them. The code below produces a model where buffers with indices `[0, 1, 8]` are not referenced by any tensors or metadata. What are these used for? If I remove these buffers manually, the `lce.tflite.python.interpreter.Interpreter` segfaults (but there is a chance that's just

[2020-10-22 22:10] Tombana commented on #548
That's interesting, thanks for raising this. I can indeed confirm that the model you sent seems to have unreferenced buffers. So far we've never had to look at the flatbuffers in this much detail; usually the info shown by netron was sufficient. I'll look into it.

[2020-10-23 07:53] FrancescoLoro opened #553 "larq-compute-engine installing issue"
Hi, I used larq to create a BNN from a full precision network to make some comparisons.
I would like to install your lce library on a raspberry pi 4 model B.
However, by running the command "pip install larq-compute-engine, as suggested in the end to end guide, I get this error:
ERROR: Could not find a version that satisfies the requirement larq-compute-engine (from version: none)
Do you, please,

[2020-10-23 08:05] jneeven commented on #553
Hi, nice to see you're interested in BNNs and the Larq ecosystem! Which python version are you trying to install LCE for? We support python versions 3.6 and above. It seems your python package manager can't find any LCE versions, which indicates that you're probably on an unsupported python version, or your pip is a bit outdated. Could you tell me the output of the `pip --version` command?

If pip

[2020-10-23 08:15] FrancescoLoro commented on #553
Hello, thanks for the quick response.
I'm using python 3.7.3 and pip 20.2.4

[2020-10-23 08:35] jneeven commented on #553
Okay, in theory that should be absolutely fine, but now that I've re-read your original message I see you're trying to install LCE on the Raspberry Pi itself. The LCE converter currently only supports x86 architectures (you can see the list of wheels [here](https://pypi.org/project/larq-compute-engine/#files)), but the Raspberry Pi uses ARMv8.
We therefore recommend that you install the converter

[2020-10-23 09:10] FrancescoLoro commented on #553
Ok so i should create and train my model, convert it with LCE on my laptop. And then load the already converted model on the raspberry and run the inference with normal larq library?

[2020-10-23 09:20] jneeven commented on #553
Yes, correct! But you wouldn't use Larq for inference, as it's only a training library. That's where the Larq Compute Engine comes in: to benchmark your converted model on your Raspberry Pi, you can follow the [benchmarking part of the end-to-end guide](https://docs.larq.dev/compute-engine/end_to_end/#benchmarking), which simply downloads a pre-built benchmarking binary that you can pass your conv

[2020-10-23 09:28] FrancescoLoro commented on #553
Exactly, my purpose is to test the performance of my BNN on the raspberry pi 4 device. And this involves running the inference directly on the raspberry. I will try to follow the guide for C++ to use my network on the raspberry.

[2020-10-23 09:30] jneeven commented on #553
Okay, good luck! If you experience any problems there, feel free to open another issue :+1:

[2020-10-23 09:31] FrancescoLoro commented on #553
Thank you very much for your help

[2020-10-23 09:31] #553 closed

[2020-10-23 11:50] Tombana commented on #548
I've found the following line in the "mlir-to-flatbuffer" exporter, which says that an empty buffer at index `0` is apparently part of the schema definition:
https://github.com/tensorflow/tensorflow/blob/5bbb8a2bd1def6865b1510175a3da5fd12387e10/tensorflow/compiler/mlir/lite/flatbuffer_export.cc#L365-L366

As for the other two unrefrenced buffers: I've noticed that the same happens with a normal Co

[2020-10-23 12:53] lkindrat-xmos commented on #548
Great, thanks for investigating! I did notice that if I retain only one empty buffer in the beginning, the interpreter works as expected, this explains that. Indeed, the schema mentions that buffer 0 is used by Tensors that don't reference a buffer:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs#L192
https://github.com/tensorflow/tensorflow/blob/master/tenso

[2020-10-23 14:53] Tombana commented on #548
Interesting. The micro interpreter has its own code for parsing the flatbuffer and handling allocations, separate from the tflite (non-micro) version. Since the lce python interpreter uses the non-micro version, that might also explain these differences.

I have no idea, optional inputs do indeed sound like good candidates.

I think so yes, I'll prepare a minimal example next week and report it.

[2020-10-23 14:53] #548 closed

[2020-10-27 06:03] ivs-pychen opened #554 "What is the difference between LCE and ARM NN?"
Which tool(LCE or ARM NN) can be used to deploy the BNN model trained by larq on ARM CPU, GPU, NPU?

And what is the difference between LCE and ARM NN?

[2020-10-27 08:33] Tombana commented on #554
As far as I know, ARM NN does not support binary (i.e. 1-bit quantized) layers. So if you've trained a model with binary layers using Larq, then you should deploy it with LCE.

[2020-10-27 08:44] ivs-pychen commented on #554
Ok. Thank you.

[2020-10-27 08:44] #554 closed

[2020-10-27 15:40] Tombana commented on #548
Update: I found the culprit. In https://github.com/tensorflow/tensorflow/commit/ec94fabb838b0934eeaf46f1fd22c36b2b3ec333 (only in `tf-nightly` at the moment) TF added support for setting the input/output types to `int8` and eliminate the Quantize/Dequantize pair. They do that [in this function](https://github.com/tensorflow/tensorflow/blob/b0784e587b62eec6967196b745bba4db3a90ab0c/tensorflow/lite/p

[2020-11-15 17:37] mbahri opened #567 "Adding custom operators"
Hi all

We're trying to add a custom operator to speed-up the computation of Hamming distances and pair-wise Hamming distances on ARM.

I've had a look at the code and it's quite clear how to register the op with TFLite in the Larq dialect, but I'm unsure how to call the op from Python. I haven't found anywhere where "LceBMaxPool2d" (for instance) is registered as in https://www.tensorflow.org/lit

[2020-11-15 19:13] AdamHillier commented on #567
Hi, thanks very much for your interest in Larq and LCE!

I'm not entirely sure I understand specifically what you're asking, but I will try and explain the process of converting a TensorFlow model and ending up with a TFLite model file that has custom ops in it, and hopefully that will help :)

As you may have seen, our MLIR op definitions of the Larq Dialect ops are found in the TableGen file [`l

[2020-11-19 10:05] AdamHillier commented on #567
@mbahri was there anything else you wanted to know about this? If not, I'll close the issue.

[2020-11-20 00:05] mbahri commented on #567
Hi Adam, thank you very much for the detailed explanation. We've ended up making a custom op in tf, then matching this in the graph, but we're not fully done yet.

Would you mind leaving the issue open a little longer in case we have more questions?

Thanks

[2020-11-25 11:10] andrewstanfordjason opened #573 "Output transform int8 output procedure"
I have implemented a bconv2d with int8 output for the xcore. When doing so I had to implement the output transform:
https://github.com/larq/compute-engine/blob/e0683a7cb2ce1c2e15f6c59bb140f7d6f8da6a9b/larq_compute_engine/core/bconv2d/output_transform.h#L136

My questions are:

- what is the shift left for? is there a reason not to absorb it into the multiplication?
- why clamp after the initial sh

[2020-11-25 11:54] AdamHillier commented on #573
Ah yes this is kind of ugly.

The left shift is essentially part of the back transformation, which converts the accumulator value to the actual output value. The back transformation has the form `filter_height * filter_width * input_channels - 2 * accum`, so a multiplication by (minus) 2 and a constant offset. Conceptually, after the back-transformation we then do clamping for the activation funct

[2020-11-25 15:26] andrewstanfordjason commented on #573
Thank you for your quick response.  Am I correct in assuming that clamp_max and clamp_min are defined in the same space as the input i.e. a = sum(w * x) as opposed to the xor_popcount space? If this is correct then odd clamp values are essentially unused as the result of the product of the weights and the data can only be even values. This would mean that dividing the clamp_max and clamp_min that

[2020-11-25 16:09] Tombana commented on #573
On the tensorflow side, the inputs and weights are all in `{-1.0 , +1.0}`. When `n = filter_height * filter_width * input_channels` is even, then the result of this "-1,+1 innerproduct" will be always even. When that value `n` is odd, the innerproduct will always be odd.

In the actual implementation, we have a "0,1 innerproduct" and then use `n - 2 * popcount` to go back from "0,1 space" to "-1,1

[2020-12-29 06:47] Chidhambararajan opened #581 "RuntimeError in numpy while using larq compute engine interpreter"
I am running ubuntu20.04 with python3.8.5 and the following pip packages
- tensorflow==2.4.0
- larq==0.10.2
- larq-compute-engine==0.4.3
- larq-zoo==2.0.3
- numpy==1.19.4

All the abve packages where downloaded and installed from wheels automatically by pip

# CODE:
[code]
# OUTPUT :
[code]

[2020-12-29 18:47] Chidhambararajan commented on #581
Just to be sure I tried the same in python3.6 too. Same Error
Looks like the error is happening in the self.interpreter.predict(inputs)

[2020-12-30 09:12] Chidhambararajan commented on #581
Just now figured it out, looks like I need to add the .astype(np.float32) to the inputs
And it works

[2020-12-30 16:40] #581 closed

[2021-01-10 19:44] bferrarini opened #583 "manylinux2010 building fails"
Hi,

I need to build the python wrapper for LCE.
I tried with the procedure described [here](https://docs.larq.dev/compute-engine/build/docker/) without success.

I set the python version (3.7 in my case) and start the script .github/tools/release_linux.sh After a while I get the following errors:

`ERROR: /root/.cache/bazel/_bazel_root/aa829f8eaa4f35b2fc6d736b3640d755/external/org_tensorflow/tens

[2021-01-11 12:05] Tombana commented on #583
Hi Bruno,

Thanks for your interest in LCE and for trying to build it. I just did the same steps on my machine in the same Docker container  (although with python 3.8) on the master branch, but I didn't get any error like this.

It might be possible that the compiler runs out of memory, because depending on the gcc version it can use more than 16 GB of RAM. Are there any other errors shown near th

[2021-01-11 20:50] bferrarini commented on #583
Hi Tom,

The lack of memory was the problem indeed.
I played with `.bazelrc.user` and VM box and found a set-up that worked for me.

I increased the VM memory from 4GB to 8GB and set the Bazel parameters as follows.

[code]

Many thanks for your help.

Kind Regards,

Bruno

[2021-01-12 09:31] Tombana commented on #583
Great to hear that! If you have any other issues, feel free to open another GitHub issue.

[2021-01-12 09:31] #583 closed

[2021-01-23 14:08] jonnor commented on #345
Any updates on this (in particular the ARM Cortex M support)? I note that there was a talk at TinyML about Larq and also microcontrollers?

[2021-01-25 13:15] rnusselder commented on #345
It's good to hear that you watched our TinyML Talk. We're keeping our inference engine for Cortex-M (Larq Compute Engine Micro) closed source for now and it is currently only available for customers.

[2021-01-25 13:52] jonnor commented on #345
Ok, thank you for the quick response!

[2021-01-25 21:22] bferrarini opened #591 "LCE works great on ARM but is slow on x86_64"
Hi,

I wrote my first application for the RPI4. The inference speed is awesome.

I need to collect comparative data from a regular workstation for an academic purpose, but I found that the inference is by far slower on x86_64 machines.

To check whether I missed something in my software, I compiled the lce_benchmark on a Linux box equipped with a 64bit processor (--native flag) using the Docker me

[2021-01-25 21:33] AdamHillier commented on #591
Hi Bruno,

Thanks for your interest in LCE! I'm afraid that this behaviour is expected. LCE specifically targets ARM v8-a devices (like your RPi), and the BNN kernels that accelerate binary convolutions are written in ARM assembly to be as fast as possible on those platforms. On x86 we don't have optimised assembly kernels and so any binary built for an x86 target will use slow C++ reference kerne

[2021-01-25 21:45] bferrarini commented on #591
Hi Adam,

Many Thanks for your super quick reply :)

The actual target of my application is ARM indeed.
I will make a try with QEMU just to have an idea of the performance gap.

Regards,
Bruno

[2021-01-25 21:45] #591 closed

[2021-01-27 13:43] Chidhambararajan opened #592 "Cross Compiling LCE python package"
The Cross Compile with Bazel guide in the docs is guiding to cross compile a lce_minimal but not the python package itself
Is there a way to do the same?

I am currently compiling the package for my Raspberry pi 4 64 bit natively with guide "Building the Converter" from the docs
but it apperas to be way slow (Due to ram limitation I had to set `bazel build -j 1`)

So how should we cross compile th

[2021-01-27 14:09] AdamHillier commented on #592
Hi @Chidhambararajan, I've transferred this issue into the LCE repo.

As far as I know, we haven't ever cross-compiled the converter Pip package. That doesn't mean it's not possible, but we don't have a known configuration that will work.

I'm afraid native compilation on your Raspberry Pi is likely your best bet. Unfortunately, compilation of the Pip package is very very slow, because it requires

[2021-01-28 11:19] AdamHillier commented on #592
I'm going to close this for now, but feel free to re-open if there's any update on this or you have any further questions.

[2021-01-28 11:19] #592 closed

[2021-02-02 16:04] simonmaurer opened #598 "lce_converter build from source error: /tmp/lce_android"
Hi all

I was trying to build the Larq Compute engine in a virtual environment using Python3.7/TensorFlow2.4.1.
Given the instructions [https://docs.larq.dev/compute-engine/build/converter/](https://docs.larq.dev/compute-engine/build/converter/) and after executing
`bazel clean --expunge`
`bazel build :build_pip_pkg`

I get the following error:

Starting local Bazel server and connecting to it...

[2021-02-02 16:22] simonmaurer commented on #598
Hi @AdamHillier
I really have to say it is great work y'all did and I'm using it for research purposes.
 Already talked to @lgeiger via mail about some specific questions, but I'm working on posting these as different issues ;)

Regarding your feedback:
1. building from latest master branch [https://github.com/larq/compute-engine/commit/579c8fb02f69d6f08e1581206c7b9b00b5394028](url)
2. did that ye

[2021-02-02 16:36] AdamHillier commented on #598
Hmm, that is very weird. I just did the following, also on MacOS, with a completely fresh LCE repo and Python environment:

[code]

and after downloading the dependencies the Bazel analysis succeeded, and it started compiling files.

I really don't have any idea what could have caused this for you; that Bazel build target shouldn't be triggering anything Android related.

Any thoughts @lgeiger?

[2021-02-02 16:41] simonmaurer commented on #598
thanks for trying to reproduce. it really is weird.
just as additional hint, not sure if this is the cause though : I'm using `bazel 3.7.0-homebrew` and modified the .bazelversion to `3.7.0` (was 3.1.0 before)

[2021-02-02 16:46] AdamHillier commented on #598
Oh that could well be it. If you don't need any new features from Bazel, could you possibly try reverting the Bazel version file to `3.1.0` and installing [Bazelisk](https://docs.bazel.build/versions/master/install-bazelisk.html) and using that instead (as in `bazelisk build :build_pip_pkg`). It should then detect the version file and automatically download and use the correct Bazel binary for doi

[2021-02-02 17:07] simonmaurer opened #599 "QuantConv2D binarized activations with bitpacked output as tf.int32"
@lgeiger @AdamHillier given our latest mail conversation I'm trying to state one of the questions here so others can profit too.
this is somehow related to the #445

given the hints from @lgeiger:

I modelled a multitask network with binary layers and a sign operation (larq.math.sign respectively larq.quantizers.SteSign()) afterwards:
`output = larq.layers.QuantConv2D(256, kernel_size = (3,3), str

[2021-02-02 17:17] simonmaurer commented on #598
so the build has finished.
did `bazel-bin/build_pip_pkg artifacts` and output is:

Tue Feb 2 18:15:41 CET 2021 : === Building wheel
+ python setup.py bdist_wheel
  File "setup.py", line 24
    raise ValueError(f"Invalid version: {version}")
                                                 ^
SyntaxError: invalid syntax

Will try as you suggested.

[2021-02-02 17:26] AdamHillier commented on #598
I think the syntax error might be coming from the f-string usage, which suggests `python configure.py` might have configured a < 3.6 version of Python? You could try adding `which python` as a line above [here](https://github.com/larq/compute-engine/blob/579c8fb02f69d6f08e1581206c7b9b00b5394028/build_pip_pkg.sh#L85) to check that the correct version is being used.

[2021-02-02 17:31] simonmaurer commented on #598
within the virtual environment the `which python` command states :

so that should be correct when executing `python configure.py`

[2021-02-02 19:13] simonmaurer commented on #598
so the compilation went fine this time. used bazelisk with bazel version 3.1.0, the initial error related to /tmp/android did not appear. good so far.
`bazel-bin/build_pip_pkg artifacts` also went through too, however when trying to install the generated pip wheel using:
`pip install larq_compute_engine-0.5.0-cp37-cp37m-macosx_10_14_x86_64.whl`:

am I right to assume that the build commands for la

[2021-02-02 20:59] simonmaurer commented on #598
rerun to log output:

warning: no files found matching '*.pyd' under directory 'larq_compute_engine'
[WARNING] This wheel needs a higher macOS version than the version your Python interpreter is compiled against.  To silence this warning, set MACOSX_DEPLOYMENT_TARGET to at least 10_14 or recreate these files with lower MACOSX_DEPLOYMENT_TARGET:
build/bdist.macosx-10.13-x86_64/wheel/larq_compute_en

[2021-02-02 21:00] simonmaurer commented on #598
rerun to log output:

warning: no files found matching '*.pyd' under directory 'larq_compute_engine'
[WARNING] This wheel needs a higher macOS version than the version your Python interpreter is compiled against.  To silence this warning, set MACOSX_DEPLOYMENT_TARGET to at least 10_14 or recreate these files with lower MACOSX_DEPLOYMENT_TARGET:
build/bdist.macosx-10.13-x86_64/wheel/larq_compute_en

[2021-02-02 21:06] AdamHillier commented on #598
Hmm, that is weird. I don't know why it would default to a higher value than your native OS version :/

That said, we successfully build release wheels for MacOS 10.13, you can see the command flags we pass in order to do that here: https://github.com/larq/compute-engine/blob/579c8fb02f69d6f08e1581206c7b9b00b5394028/.github/workflows/release.yml#L134-L135

[2021-02-02 22:55] simonmaurer commented on #598
will compile again with these optimization flags

[2021-02-03 15:24] Tombana commented on #599
Hi, thanks for your interest in LCE!
The converter will indeed leave that `LceDequantize` in the graph, as this bitpacked datatype is kind of an LCE internal type that is only ever read by other LCE ops, so it won't be exposed to the outside.

I think that your best bet is to write a separate python script that modifies the generated flatbuffer, inspired by that function `modify_integer_quantized_

[2021-02-03 19:08] simonmaurer commented on #599
@Tombana thanks a lot for the hint. very appreciated
implemented a script given your input that does exactly that
when executing it after the regular call to convert_keras_model() it threw the error:
`ImportError: cannot import name 'tflite_schema' from 'larq_compute_engine.mlir.python'`

guess I have to implement the code right in the repo and compile larq_compute_engine again

[2021-02-03 19:47] simonmaurer commented on #599
given the last error, I fixed it by importing it as:
`from larq_compute_engine.mlir.python import schema_py_generated as tflite_schema`

the above code line you mentioned above I had to adapt a bit:
`opcode.customCode == b'LceDequantize'

as you said I had also had to remove the extra checks

[2021-02-03 22:41] simonmaurer commented on #598
so built again with exactly the aforementioned flags

this time the compilation resulted in a correct`larq_compute_engine-0.5.0-cp37-cp37m-macosx_10_13_x86_64.whl`, installing it via pip in the virtual environment was successful.
importing larq_compute_engine in the python interpreter works as expected.

the only thing I noticed is when I'm directly in the root folder of the larq_compute_engine re

[2021-02-03 23:09] simonmaurer commented on #599
am I right to assume that this will only remove the last LceDequantize layer(s) in a model (right before the (multi)output) or could it affect intermediate layers within the model ?

[2021-02-04 09:57] Tombana commented on #599
You are right. It will not affect any intermediate layers.

That is a good question. The following assumption is wrong:

The binary convolutions have binary *input* and *weights*. The output, however, is generally a float (or int8) number. This is especially important in networks with shortcuts, where you want the full-precision float data to go into the shortcut.
Now in case there are two `LceBco

[2021-02-04 11:38] Tombana commented on #598
This is expected. When in the root folder, the python import statement gives the `larq_compute_engine` folder higher priority than the package, and the `_graphdef_tfl_flatbuffer.so` (compiled library) file is not present there, it is only present in the compiled package.

[2021-02-04 14:39] simonmaurer commented on #599
@Tombana it's a bit clearer now.
makes sense that you discuss making `experimental_enable_bitpacked_activations=True` default, as otherwise there's gonna be "unnecessary" LceQuantize ops in between consecutive QuantConv2D layers.

Oh, gotcha. My mistake, I assumed the output to be tf.int32 given the [API documentation](https://docs.larq.dev/larq/guides/bnn-architecture/): `Note that the output of

[2021-02-04 17:30] Tombana commented on #599
I understand the confusion now. That part of the documentation refers to the fact that the sum of the product of the `-1` and `+1` values of a binary convolution will always be an integer. In LCE, the binary convolution op also has a fused batchnorm, so then that integer can become a float.

In LCE, the int32 type in tflite files always refers to bitpacked data, so it refers to 32 individual bits

[2021-02-08 18:14] tehtea opened #602 "Failed to resolve: org.larq:lce-lite:0.4.0"
### Describe the bug
After doing a Gradle sync on the Tflite Android Image Classification example application, Android Studio throws this warning and the app cannot be built.

### To Reproduce
Follow the steps [here](https://docs.larq.dev/compute-engine/quickstart_android/), namely:
1. Add the below to the app-level build.gradle:
[code]
2. Add the below to the `lib_support` build.gradle:
[code]

#

[2021-02-09 01:28] simonmaurer commented on #599
gotcha. should be clear now.

You mentioned you are interested in the int32 data, so if you meant the sum of the -1,1 product, then this is not what you will get by removing the LceDequantize op.

for the LCE converter step I actually aim to access the bitpacked data that contains the binary values so I can process them later (without dequantizing them back to tf.float32). removing `LceDequantize`

[2021-02-09 09:54] Tombana commented on #599
When you add those `fake_quant` ops, you do not need to use `experimental_default_int8_range`. The flag `experimental_default_int8_range` is meant for benchmarking int8 models without training them properly, and it will effectively add a `fake_quant` node to any tensor that does not have one yet.

That should work in theory, although we've had some issues with that in the past when we tried it our

[2021-02-09 11:14] Tombana opened #601 "Fix documentation for Android app build"
See https://github.com/larq/larq/issues/619.

The bintray platform is being discontinued. I propose we automatically upload the AAR file (created on CI already) to our Github releases section. The user can then download this AAR file and put it in a local maven repository.

[2021-02-09 14:05] tehtea commented on #602
No worries, thanks for this awesome library too!

I don't have the maven CLI installed but it worked locally on the Tensorflow-lite Image Classification example app with the following changes:
1. Downloaded the latest `.aar` from the link you placed, and placed it in `./android\lib_support\libs`
2. Do the following to `lib_support/build.gradle`:

[code]

[2021-02-09 15:13] Tombana commented on #602
Thank you very much for figuring that out. If it's ok with you, then we'll copy this information into our docs for future users. (Then we can remove the maven-related things from the docs).

[2021-02-09 15:15] tehtea commented on #602
Yeah for sure, feel free to do so!

[2021-02-10 15:08] simonmaurer commented on #598
@Tombana perfect.

thank you all for the support. still wonder why such an error during compilation is thrown by newer versions than `bazel 3.1.0` but I consider this issue resolved

[2021-02-10 15:09] simonmaurer commented on #598
perfect.

@Tombana, @AdamHillier thank you all for the support. still wonder why such an error during compilation is thrown by newer versions than `bazel 3.1.0` but I consider this issue resolved

[2021-02-10 15:18] simonmaurer commented on #599
thanks for the clarification. definitely get the differences with respect to the parameters now. maybe one could also add that to the documentation in [convert_kera_model](https://docs.larq.dev/compute-engine/api/python/)

is there an openness from your side to participate such kinds of updates (and even if it's just documentation changes) from outside your team so that others can profit too ? usu

[2021-02-10 16:20] simonmaurer opened #604 "Support for macos_arm64"
tried to run [lce_benchmark_model](https://docs.larq.dev/compute-engine/benchmark/) on an Apple Mac mini with M1.
turns out that this is not possible directly although the platform `aarch64` is generally the same.

next step was trying to build it manually but it did not work since more adaptations for the `bazel` build system are needed (I assume it would need a different toolchain).

could you g

[2021-02-10 17:00] lgeiger commented on #604
Unfortunately we are not able to give you concrete guidance here as we don't have access to Apple Silicon at the moment.

From the PR you linked it should be possible to update the TensorFlow dependency to a newer commit [here](https://github.com/larq/compute-engine/blob/14da1c84c9cc8269fe12ba2c210ab1c70f0f4a3d/WORKSPACE#L41-L55), although I am not sure if this would require additional changes to

[2021-02-10 22:26] Tombana commented on #599
We very much welcome such contributions; everyone is welcome to make pull requests.
The docs are generated from here: https://github.com/larq/docs/tree/master/docs/compute-engine , and some part of the API docs are autogenerated from the docs in the code, like here: https://github.com/larq/compute-engine/blob/14da1c84c9cc8269fe12ba2c210ab1c70f0f4a3d/larq_compute_engine/mlir/python/converter.py#L78

[2021-02-12 00:54] simonmaurer commented on #604
so for a start I changed the `.bazelrc` and `CONFIG` according to these PR changes.
since you mentioned updating the SHA hash [here](https://github.com/larq/compute-engine/blob/14da1c84c9cc8269fe12ba2c210ab1c70f0f4a3d/WORKSPACE#L41-L55): is larq compiled using TF by downloading that .tar.gz package ?
cause I also thought I had to update the [tensorflow subrepo](https://github.com/larq/compute-engi

[2021-02-12 10:20] AdamHillier commented on #604
Hey Simon, when building with Bazel the tar.gz file that's in the WORKSPACE file you linked to gets used, and the TF submodule is used for Makefile builds. We tend to use Bazel for almost everything so the WORKSPACE file is what matters, but when we update TF versions we always bump the submodule as well to keep them in sync.

[2021-02-15 11:14] simonmaurer commented on #598
digged a bit deeper into that error.

it definitely is related to the following lines in the `WORKSPACE` file:
https://github.com/larq/compute-engine/blob/7b08c3005bfe651f57955d0e45a3c326ce5d1edd/WORKSPACE#L97-L103

starting with bazel version `3.5.0` the error as follows is thrown:

every other version until `bazel 3.4.1` does not throw this error.
the Java function responsible for this is here:

[2021-02-20 16:33] simonmaurer commented on #599
@Tombana @lgeiger @AdamHillier thoughts about this ?
as suggested by @Tombana the idea of having a separate `research` module, so the function `strip_lcedequantize_ops` could access the backend methods in [util](https://github.com/larq/compute-engine/blob/master/larq_compute_engine/mlir/python/util.py)

am I assuming correctly, that the bitpacked `tf.int32` outputs has values `0,1` representing `1

[2021-02-22 11:56] AdamHillier commented on #598
Hi @simonmaurer, sorry for the delay in getting back to you. Thanks for investigating the Bazel errors further :)

My gut instinct, without any evidence, is that this is a bug in Bazel that has been introduced, since as you say that release is meant to be backwards-compatible. Unfortunately, it's hard to have any insight in how to get this working with newer Bazel versions without actually trying

[2021-02-22 15:26] Tombana commented on #599
Hi @simonmaurer,

Apologies for the delay. We discussed it internally and we think it makes most sense to add this functionality directly to [util.py](https://github.com/larq/compute-engine/blob/master/larq_compute_engine/mlir/python/util.py) but not expose it as a public API.
People that need the functionality can then import it directly with
[code]

Since you already have a working script, could

[2021-02-25 15:12] simonmaurer commented on #599
very nice.
I'll have to adapt the code and put it into `util.py`. this way we can directly use the builtin functions `_convert_model_from_bytearray_to_object`, `_remove_tensors_from_model` and `_convert_model_from_object_to_bytearray`. once this is done I can issue a pull request.

[2021-02-26 15:50] simonmaurer commented on #604
so workin on this front also revealed some updates.
1. bazel: with the aforementioned changes in `WORKSPACE` using a more recent TF (mid January) tar.gz and [BUILD](https://github.com/larq/compute-engine/blob/master/larq_compute_engine/core/bitpacking/BUILD) I was able to build the `lce_minimal` example. however `lce_benchmark_model`/`pip_package` do not work yet (also tried compiling the lce_benc

[2021-02-28 17:43] tehtea opened #609 "Converting to TensorRT for Jetson Nano"
Hi all, is it possible to run the LCE on the Jetson Nano using TensorRT by any chance? Currently, I managed to compile the benchmark tool from source on it but as far as I know the inference using that binary only relies on the CPU.

[2021-03-01 11:13] Tombana commented on #609
Hi @tehtea,

LCE only contains optimized binary convolutions for ARM Cortex-A CPU's. So you are right, if you managed to compile it for the Jetson Nano, it will only have optimized CPU kernels and no GPU kernels. GPU support is not in the planning, but we welcome pull requests from the community in case you want to write a GPU implementation.

[2021-03-01 12:08] tehtea commented on #609
Thanks for the quick response! Just wanted to confirm, no promises on writing the implementation and making the PR.

[2021-03-03 16:52] simonmaurer commented on #604
@lgeiger @Tombana @AdamHillier as stated above bazel builds are not yet possible (due to TensorFlow Lite dependencies on [XNNPACK](https://github.com/google/XNNPACK) but I issued a [PR](https://github.com/google/XNNPACK/pull/1327) there.

once this gets accepted, I can issue a PR in the official [TensorFlow](https://github.com/tensorflow/tensorflow) repo. this should allow bazel builds of the `Ten

[2021-03-13 15:09] tehtea opened #613 "Segmentation fault while using exported model for inference"
I have two versions of exported models. One of them is working fine when I have run it through the benchmarking C++ binary, while the other causes segmentation fault. Might anyone know how this can happen?

Platform: Ubuntu 18.04
Larq Compute Engine version: Built from source from commit `0469785a6e8ecfe3d4541675eab3e6ad1acb93f3`

[exported-weights-problem.zip](https://github.com/larq/compute-engi

[2021-03-13 17:23] Tombana commented on #613
Hi, thanks for posting the issue.

I can locally reproduce the issue, and it seems to crash in one of the `Gather` operators. It looks like one of the `Gather` ops gets invalid coordinates as its second `positions` input. Is this information helpful to you? I don't know the details of this last part of the model where the `Gather`s are (only the 'base' is quicknet).

[2021-03-13 18:45] tehtea commented on #613
And thanks for looking into it too, I think I will try replacing the `Gather` operators for now, but I don't understand why the `Gather` ops will get invalid coordinates. This is the minimal code for generating this last part of the model, and each of the `Gather` ops were generated by either the `tf.boolean_mask` or the `K.gather` method calls.

[code]

[2021-03-15 11:14] Tombana commented on #613
That is weird indeed. Could it be that only the first `num_detections` values of the `selected_idx` list are valid, and the rest of that list is invalid?

In this particular case of object detection, I would recommend doing these final parts (everything after `non_max_suppression`) not inside the model, but in the code that invokes the model and deals with model output.

[2021-04-12 09:46] #598 closed

[2021-04-13 14:41] LJHG opened #631 "Model is unexpectedly big after conversion"
Hi, I'm running the official demo **BinaryNet on CIFAR10**  on your website.
According to the summary, the model after conversion is supposed to be 1.26MB. However, I got 23.7MB in the size.
This is much bigger than expected, is there anything wrong with my code?
Any reply would be appreciated!
The code is here:
[code]

[2021-04-13 14:59] AdamHillier commented on #631
Hey @LJHG, I believe in this case almost all of the model size in the converted model comes from the (very large) fully connected layers at the end of the network.

Despite the fact that they are Larq `QuantDense` layers, Larq Compute Engine doesn't currently implement a binarised version of these. As a result, those layers are converted to float32 fully connected layers, which means that the weig

[2021-04-13 15:22] LJHG commented on #631
@AdamHillier ,Thanks for the reply, it really helps. I have tried and it worked out :)

[2021-04-13 15:50] AdamHillier commented on #631
Great to hear, I'm going to close this now but feel free to re-open if you run into any more issues

[2021-04-13 15:50] #631 closed

[2021-04-16 00:37] tch2841 opened #633 "inference using tflite with larq customops"
Hi all, I am trying to perform inference using a custom tflite model built using larq custom ops. Sorry, I am new to tensorflow and I strongly suspect that I need a way for the tflite interpreter to cooperate with the larq custom ops... however, I am a little confused on how to do so.

**My bug**:

`RuntimeError: Encountered unresolved custom op: LceQuantize.Node number 3 (LceQuantize) failed to p

[2021-04-16 00:42] lgeiger commented on #633
Did you already checkout https://docs.larq.dev/compute-engine/api/python/#interpreter?
We provide a wrapper around the TFLite interpreter which includes our custom ops and matches the Keras predict API.

[2021-04-16 00:44] tch2841 commented on #633
I did, but I am wondering what does it mean by saying the first argument of "model" must be of form "bytes"... is this the tflite file or do I need to find a way to convert the .tflite file to flatbuffer bytes?

[2021-04-16 01:06] lgeiger commented on #633
This is the content of the `.tflite` file like returned from `larq_compute_engine.convert_keras_model`.
If you have a `.tflite` file on disk, you can read it using:
[code]

[2021-04-27 15:48] LJHG commented on #602
Hi, I am also trying to go through the turorial [here](https://docs.larq.dev/compute-engine/quickstart_android/) about builing an Android App. And I tried the method of @tehtea, but I guess it does not work for me though.
## about the bug
I succeed to build on Android Studio, but fail to run, and it reports like this at the running stage:
[code]

[code]

## reproduce
And here's what I did all the

[2021-04-29 13:43] LJHG opened #636 "Fail to build Android App"
Hi, I am trying to go through the turorial [here](https://docs.larq.dev/compute-engine/quickstart_android/) about builing an Android App. And I tried the method of @tehtea [here](https://github.com/larq/compute-engine/issues/602#issuecomment-775962340), but I guess it does not work for me though.
## about the bug
I succeed to build on Android Studio, but fail to run, and it reports like this at th

[2021-05-05 15:07] Tombana commented on #636
Hi @LJHG,
Great to hear that you are working with Larq Compute Engine!
Apologies for the delay, our team has been very busy. Unfortunately we have not looked at the Android app in a while and we don't have Android Studio set up at the moment; we only use the benchmark CLI tool. We hope to look into it in a few weeks time.

@tehtea is this issue something you've encountered and can help with?

[2021-05-07 07:15] LJHG commented on #636
@Tombana , Thanks for the reply !
I'm trying to get a model runing on android. If the process mentioned above is not working, is it possible to write C++ code to do the inference?
If so, how can I manage to do that?

[2021-05-07 08:25] Tombana commented on #636
That is definitely possible, and we might be able to offer more help with that than with the Android Studio app.

As a first test you can try to run our example pre-built benchmarking C++ program: https://docs.larq.dev/compute-engine/benchmark/

If that works, you can try to compile your own program. For that, I recommend following the steps here: https://docs.larq.dev/compute-engine/build/android

[2021-05-07 09:03] LJHG commented on #636
@Tombana Thank you very much for the detailed reply :) !
I have managed to build and run the C++ program according to https://github.com/larq/compute-engine/blob/master/examples/lce_minimal.cc on my android phone.
And here's my puzzles:
In this program, I manually set the input to specific numbers like this
[code]
When running on an android device, how can I feed the input data to the this C++ pro

[2021-05-07 10:10] simonmaurer opened #637 "Spurious Quantize/Dequantize on int8 quantized model with LCE converter"
While working on models with binary and int8 quantized layers (NOTE: not using the built-in function `quantize_model` from tensorflow_model_optimization since I will further need it to quantize a custom model inherited from tf.keras.Model which is not supported) I've noticed a bug in the LCE conversion pass.

To illustrate the behavior I've made a small toy model using manual placement of `tf.quan

[2021-05-07 11:06] Tombana commented on #636
Both options sound good to me. I don't have much experience with Android/Java, and none with JNI, so I'm afraid I can't offer help with that.

[2021-05-14 07:45] simonmaurer commented on #637
@Tombana @lgeiger @AdamHillier  any clues why his is happening?

[2021-05-17 09:57] Tombana commented on #637
Hi @simonmaurer,
Apologies for the delay. What you're describing does indeed look like a bug.
Our converter is mostly a copy of the Tensorflow MLIR converter but with our custom Larq conversion passes add inbetween some TF passes. Our passes don't touch the quantize nodes, so if the bug does not happen with the Tensorflow converter then my guess is that we did not correctly copy the quantization p

[2021-05-18 10:11] simonmaurer commented on #637
@Tombana now worries at all. appreciate it for looking into it 👍

[2021-05-20 15:07] #637 closed

[2021-05-20 17:06] lgeiger opened #647 "Add support for bitpacked activations in optimized ARM32 kernels"
@honglh added optimized kernels for ARM32 in #432. It would be great if we could add support for bitpacked activations to them to match the AArch64 optimized bgemm kernels.

[2021-06-02 15:04] utexasnew opened #653 "Building aarch64 compatible pip package"
I have followed the instructions located in the docs: https://docs.larq.dev/compute-engine/build/docker/ to build a manylinux2010 compatible pip package.

My question is now how to build the pip package for aarch64 systems? I have tried a simple addition of --config=aarch64 to the bazel build command but that was unsuccessful. Any guidance will surely be appreciated.

[2021-06-07 16:15] Tombana commented on #653
Hi @utexasnew ,

We currently don't support aarch64 builds of our converter package.
In theory, adding `--config=aarch64` to `bazel build build_pip_pkg` should do the trick, but when I try to do this locally then I get compile errors for some llvm-related files that are part of the tensorflow converter. This is not something we can easily fix because these errors are not caused by 'our' files.

If

[2021-06-09 09:23] #407 closed

[2021-06-14 14:06] simonmaurer commented on #604
Closing this issue as #664 fixes this and has been merged

[2021-06-14 14:06] #604 closed

[2021-06-16 15:30] rameshKrSah opened #665 "Permission denied when benchmarking on Android using ADB"
Hi, I tried the benchmark tool for Android using ADB, and I couldn't run the tool because of the permission denied error.

![image](https://user-images.githubusercontent.com/21354640/122248100-b0a80500-ce7c-11eb-8152-d4188b63ffd8.png)

The solution was to make the benchmark tool executable using the ADB shell like this:

![image](https://user-images.githubusercontent.com/21354640/122248321-daf9c28

[2021-06-16 15:58] lgeiger commented on #665
Thanks for catching this. I wasn't aware that the permissions might get lost on some phones or adb servers when pushing the benchmarking binary.

@rameshKrSah Do you want to sent a PR to [add this to the docs here](https://github.com/larq/docs/blob/master/docs/compute-engine/benchmark.md)?

[2021-06-16 16:00] lgeiger commented on #665
Actually this might be due to Windows. I think we only tested the docs on Linux and macOS. Either way we should update the docs to change the permissions on the phone instead 👍

[2021-06-17 19:26] rameshKrSah commented on #665
Sure, I can do that. Will send the PR soon. :)

[2021-06-22 04:07] rameshKrSah commented on #665
The pull request was [merged ](https://github.com/larq/docs/pull/278)

[2021-06-22 04:07] #665 closed

[2021-06-22 04:41] rameshKrSah opened #669 "Model size on disk bigger than what was reported by lq.models.summary()"
I am running the into_to_cnns [notebook](https://docs.larq.dev/larq/tutorials/mnist/) and the size of the binary model reported by `lq.models.summary()` is 13.48 KiB but the saved model on disk is 166.1 KB.

![image](https://user-images.githubusercontent.com/21354640/122864088-d26c1680-d2d8-11eb-8737-787e4fe627f9.png)

![image](https://user-images.githubusercontent.com/21354640/122864108-de57d880-

[2021-06-22 12:58] lgeiger commented on #669
Unfortunately this is currently expected, since fully connected layers are currently not accelerated by larq compute engine. For more information please checkout #53

There are a few subtleties here. `lq.models.summary()` gives you an estimate of the theoretical expected models size that is independent of the inference engine used.
Unfortunately this estimate might be off in some cases due to some

[2021-06-23 14:30] rameshKrSah commented on #53
@lgeiger @arashb @Tombana  any update on the implementation for the binary dense layers?

[2021-06-23 14:46] rameshKrSah commented on #669
Thank you for the detailed answer. I really appreciate this.

This makes sense, but I wonder why fully connected layers are left without binary implementation. Is there any specific reason for this?

So `lq.models.summary()` reports the size when all the parameters of the model are expressed in 1-bit right?

I can look into this. Are there any other issues related to this?

From what I understood,

[2021-06-23 15:11] AdamHillier commented on #669
Hi @rameshKrSah, thank you for your interest in Larq/LCE and you comments :)

This is on our feature wish-list, but so far there has not been strong demand for this. There aren't many literature models that use binary dense layers, for example. And as Lukas has already mentioned, there is the work around of using an (equivalent) 1x1 binary convolution instead, which does convert to a binary op in

[2021-06-23 15:20] AdamHillier commented on #53
@rameshKrSah we haven't made any specific efforts towards implementing a binary dense layer.

I think the most obvious and easiest way we could support binary dense layers would actually not involve adding a new op at all, but instead mapping Larq binary dense layers to an equivalent LCE 1x1 binary convolution. This would be an automated way of doing the penultimate bullet point from [this page](h

[2021-06-29 14:36] rameshKrSah commented on #669
Thank you for the the detailed explanation. It is much more clear to me now. I am closing this issue.

[2021-06-29 14:36] #669 closed

[2021-07-06 12:47] CNugteren commented on #602
We have just updated our [documentation](https://docs.larq.dev/compute-engine/quickstart_android/) thanks to your input, see [here](https://github.com/larq/docs/pull/280) for details.

I think all the issues reported here are now resolved, so I'm closing this. Feel free to re-open if you think otherwise - or open a new issue if you have encountered any other problems with LCE on Android.

[2021-07-06 12:47] #602 closed

[2021-07-06 12:48] CNugteren commented on #636
We have just updated our [documentation](https://docs.larq.dev/compute-engine/quickstart_android/) with among others a fix for the XNNPack issue, see [here](https://github.com/larq/docs/pull/280) for details.

I think all the issues reported here are now resolved, so I'm closing this. Feel free to re-open if you think otherwise - or open a new issue if you have encountered any other problems with

[2021-07-06 12:48] #636 closed

[2021-07-06 12:51] lgeiger commented on #317
We updated the docs to use the AAR prebuilt published with the release, so this issue can be closed now.

[2021-07-06 12:51] #317 closed

[2021-07-06 12:52] lgeiger commented on #601
This has been fixed in https://github.com/larq/docs/pull/280

[2021-07-06 12:52] #601 closed

[2021-07-28 16:33] rameshKrSah opened #676 "aarch64-linux-gnu-ar command not found when building compute engine with make for aarch64"
Just wanted to share this error and the solution when building the compute engine with make for 64bit arm on Manjaro running on PI4.

The solution was to specify `AR=ar` in the `build_lce.sh` script. Specifically, I changed the line 136 with

`
    make -j ${NUM_HYPERTHREADS} TARGET=aarch64 AR=ar -C "${TF_DIR}" -f tensorflow/lite/tools/make/Makefile
`

I don't have a good understanding of building

[2021-07-29 11:27] Tombana commented on #676
Thanks for sharing this fix!
I think we've seen a similar problem before, also on 64-bit Manjaro for rpi. I think when that happened it was not specifically for `ar` but for `gcc` in general.
In our docs, at the very bottom of this page https://docs.larq.dev/compute-engine/build/arm/, we have instructions for renaming `aarch64-unknown-gnu-XXX` to `aarch64-linux-gnu-XXX`. I think that would also ha

[2021-08-17 19:55] GhaziXX commented on #653
Hi @Tombana

I tried to cross compile the python interpreter tool to work on raspberrypi 4 running on ubuntu 20.04 (aarch64) but i am always getting errors.

** os used for compilation ** : ubuntu 20.04.2 LTS (x86_64)
** target os ** : raspberrypi 4 running ubuntu 20.04.2 (aarch64)
** type of error ** : fatal error: aarch64-linux-gnu/python3.8/pyconfig.h: No such file or directory

Btw i did all t

[2021-08-18 06:21] CNugteren commented on #653
You can try to install a package on your system that provides that missing Python header file. You can use `apt-file` for that (see https://askubuntu.com/a/1912 for instructions) and then install it (e.g. `apt install libpython3.8-dev), e.g.:
[code]
However it seems on my test system there is no such Python 3.8 package available. If you can't manage to install the required package, you can try to

[2021-08-18 09:38] GhaziXX commented on #653
Thank you @CNugteren, I ended up installing the same python version on the raspberry pi and then I copied the aarch64-linux-gnu folder to the Linux computer. By doing that, I was able to build successfully.
Unfortunately, when I tried to build the pip package then, I came across an error, I really can't identify it's origins. I don't know if it is something related to the build or something else.

[2021-08-18 10:25] Tombana commented on #653
On line 80 and 81 of `build_pip_pkg.sh` (in the root of the repository), there is this:
[code]
Could you try to remove the `mlir/*.so` parts:
[code]
I'll update the original answer with these instructions.

[2021-08-18 10:46] GhaziXX commented on #653
That finally worked, I am able to build the .whl file now.
But another problem happened (I don't why it going on with me really :'( ) when I tried to install the file on the raspberry pi I got this error: **ERROR: larq_compute_engine-0.6.1-cp38-cp38-linux_x86_64.whl is not a supported wheel on this platform.**
and I am sure that I used the --config=aarch64 when running Bazel build build_pip_packag

[2021-08-18 10:50] Tombana commented on #653
Can you try to add the following `--plat` flag to `build_pip_pkg`?

[code]

I'll also add this to the instructions in the original answer.

[2021-08-18 10:56] GhaziXX commented on #653
That finally worked!! Thank you very much for your help and time

[2021-08-19 12:51] GhaziXX opened #679 "Conversion with int8 input/output problems"
Hello, I am trying to convert a pre-made model from the model-zoo to tflite and use int8 as input and output type.
A couple of problems occurred:

1. When converting without adding the `experimental_default_int8_range` argument the input/output type won't change to int8
2. When adding the `experimental_default_int8_range` argument with a value of (0,255) as the range of the values in an image I ge

[2021-08-19 15:05] Tombana commented on #679
Hi @GhaziXX,

You are right, `experimental_default_int8_range` is needed because all these models have been trained without int8 quantization awareness.

As for the error, it seems some of the output from the interpreter is not printed. If I have to guess, its because the literature models use binary convolutions with 0-padding, whereas the compute-engine binary convolutions expect 1-padding (whic

[2021-08-19 19:05] GhaziXX commented on #679
Thank you @Tombana, that worked, maybe that flag could be set to True by default to avoid this error if anyone faces it sometimes.
Anyway, thank you very much for the help and explanation!

[2021-08-24 09:54] koenhelwegen commented on #679
@GhaziXX beware that post-training quantization (which the `experimental_default_int8_range` flag triggers) and binarization don't go well together and you should assume there will be a severe accuracy degradation, to the point the converted model performs close to random. So this is only useful for latency benchmarking.

[2021-08-31 12:40] lgeiger opened #680 "Upgrade TensorFlow dependency to 2.6"
The TensorFlow 2.6 stable has been released. It would be good to upgrade to this release at some point.

[2021-08-31 13:24] Tombana commented on #680
The TFMicro project moved to a standalone repo, so we probably first have to address that.

[2021-09-01 11:42] lgeiger commented on #680
Good point. Although, it looks like the 2.6 release still includes the micro code in the monorepo: https://github.com/tensorflow/tensorflow/tree/v2.6.0/tensorflow/lite/micro so maybe it still works.

[2021-09-01 11:46] Tombana commented on #680
Great, then I was mistaken and there's no problem yet.

[2021-09-07 15:37] lgeiger opened #682 "Automatic release builds for benchmarking binaries are broken"
Currently our release builds on CI for the benchmarking binaries are broken. See [here](https://github.com/larq/compute-engine/runs/3535332573?check_suite_focus=true) for more info.

[2021-09-07 18:21] Tombana commented on #682
I think this has been the case for our private release builds for about 6 months already, with similar error messages. This was weird because the public release builds were still succeeding 2 months ago.

[2021-09-08 13:35] simonmaurer commented on #599
closing this issue as it has been resolved by PR #611

[2021-09-08 13:35] #599 closed

[2021-11-03 10:25] #679 closed

[2021-11-03 10:25] #345 closed

[2021-11-04 08:54] Tombana commented on #344
I'm closing this issue due to inactivity.

[2021-11-04 08:54] #344 closed

[2021-11-04 08:54] Tombana commented on #567
I'm closing this issue due to inactivity. Feel free to re-open if there are more questions.

[2021-11-04 08:54] #567 closed

[2021-11-04 08:54] #535 closed

[2021-11-04 08:55] #424 closed

[2021-11-04 08:55] Tombana commented on #613
I'm closing this issue due to inactivity. Feel free to re-open if there are more questions.

[2021-11-04 08:55] #613 closed

[2021-11-04 08:55] #609 closed

[2021-11-04 08:55] #573 closed

[2021-11-04 08:56] #653 closed

[2021-11-04 08:57] Tombana commented on #633
I'm closing this issue due to inactivity. Feel free to re-open if there are more questions.

[2021-11-04 08:57] #633 closed

[2021-11-15 12:26] mengna0707 opened #688 "Deployment on Cortex-M"
Hi, I'm in a bit of a hurry， so I‘m asking here  who I should contact for details if I want to use the deployment tool on the ARM Cortex-M family of MCUs.

[2021-11-15 12:51] CNugteren commented on #688
Hello mengna0707. Thank you for your interest in the Larq Compute Engine.

The open-source version of the Larq Compute Engine does not support deployment on Cortex-M. If you are interested in inference on Cortex-M, please contact our sales team at hello@plumerai.com and we'll get into contact with you. In your email please provide relevant details such as the kinds of neural networks you are plann

[2021-12-07 10:16] sfalkena opened #692 "Tensor transform triggers dequantization"
Hi everyone, hope you can help me out here.

I have written a custom binarizer, which works in the NCHW format. My binary values are derived in this format, after which I reshape and transpose my binary values back to the NHWC format. However, because there is a reshape and transpose operation following my binarization operation, the converter does not recognize this as a binary input for my convo

[2021-12-07 10:25] Tombana commented on #692
That is correct. The way it works is as follows: first the `ste_sign` is transformed into a pair `LceQuantize > LceDequantize`. Then in a separate step, `LceDequantize > Pad > Conv2D` is converted into an `LceBconv2d`. The end result is `LceQuantize > LceBconv2d`.

I think that if you move the resize and transpose *before* the `ste_sign` then it should work. Is that possible in your situation?

[2021-12-07 10:45] sfalkena commented on #692
Thanks for your fast reply. Could you point me towards the code that performs these steps?
As said I don't think I can manage to move these steps to the front. Therefore, my idea was to see if I can perhaps do some custom pattern matching so that `LceDequantize > Resize > Transpose > Pad > Conv2D` gets converted into `LceQuantize > LceBconv2d`. Do you think such a thing is possible?

[2021-12-07 11:55] Tombana commented on #692
The `LceBconv2d` op only accepts `NHWC` input, so if we would add extra pattern to the converter that "absorbs" the Transpose into the `LceBconv2d` then it would not run at runtime. It might work if we make a pattern that moves the `Transpose` in front of the `LceDequantize`. Then the final result would be `LceQuantize > Reshape > Transpose > LceBconv2d`.

That would be quite a bit of work, so its

[2021-12-08 09:03] sfalkena commented on #692
Thats a brilliant idea! That I did not think of this myself. Thanks, I guess for now this is the most straightforward method to get my model in the right form for the converter. I am able to produce a TFLite model now, although the benchmark seems to freeze for some reason for my model only. So far it seems that all operators in the TFLite model are supported, so not sure where this problem is ori

[2021-12-08 09:14] Tombana commented on #692
If you're able to share the `.tflite` file (with randomized weights is fine) I'd be happy to run `lce_benchmark` in a debugger to see why it freezes.

[2021-12-09 09:06] sfalkena commented on #692
Thanks! Although I did not get to debug the benchmark tool with the command you provided, I succeeded by building it with:

`bazel build //larq_compute_engine/tflite/benchmark:lce_benchmark_model --compilation_mode=dbg -s`

Then I was able to properly read the stacktrace as you described and found the problem. I can now benchmark my model! Thanks again for the effort, I will close the issue now.

[2021-12-09 09:06] #692 closed

[2021-12-13 16:08] #680 closed

[2021-12-24 14:08] #688 closed

[2021-12-24 14:09] #676 closed

[2022-02-07 13:39] MatFrancois opened #710 "Error on import"
Hello,
I'm trying to use your lar_compute_engine package on a Jetson Nano 4g.
I built it following the ARM building tutorial with make: https://docs.larq.dev/compute-engine/build/arm/

Unfortunately, I get the following message on import :
[code]
Any idea to solve it would be great!
Thanks

[2022-02-07 14:15] Tombana commented on #710
The `larq-compute-engine` python package contains the converter which converts your Keras models to `.tflite` files. It is meant to be run on a x86 host machine. To run those `.tflite` files on a platform like the Jetson Nano, you need the runtime which is separate from the python package.

The ARM tutorial that you linked to shows how to build the runtime. This is not a python package but an exec

[2022-02-07 14:33] MatFrancois commented on #710
Oh ok thanks a lot for that explanation!

[2022-02-07 14:33] #710 closed

[2022-02-09 13:24] simonmaurer opened #711 "Select indirect BGEMM kernels - Benchmarking grouped binary convolutions"
Given the commits #549, #550, #551 **LCE** supportes grouped binary convolutions. this is great work as the standard TFLite still does not support the `groups` argument for inference: https://github.com/tensorflow/tensorflow/issues/40044
I've successfully created models with appropriate channel dimensions, in which the grouped binary convolutions are correctly identified by the **LCE Converter**.

[2022-02-09 13:45] Tombana commented on #711
We currently don't have a CLI flag in `lce_benchmark_model` to choose between these. For internal benchmarks we simply replaced the registration on the following line:

https://github.com/larq/compute-engine/blob/a2611f8e33f5cb9b4d09b7c9aff7053620a24305/larq_compute_engine/tflite/kernels/lce_ops_register.h#L31-L32

with `Register_BCONV_2D_OPT_INDIRECT_BGEMM`.

I'd welcome a PR to make this into a

[2022-02-17 11:54] simonmaurer commented on #711
@Tombana thanks a lot for pointing me to the right direction.
can do a PR and include a filtering of the arguments, so we can parse the flag (as suggested by you) and remove it from argv before passing it to the BenchmarkTfLiteModel as I assume (need to verify though) this will throw an unrecognized argument error

[2022-02-17 12:14] simonmaurer opened #713 "LCEInterpreter and converter design"
The LCE interpreter from `lce.testing.Interpreter` is a standalone class and exposes different properties of the quantized model (scale and zero-point for example). the converter on the other hand is built upon the two methods `convert_keras_model`/`convert_saved_model`.
can you elaborate on your design decision ?

boiling down to follow-up questions:
1. how could one use different delegates in th

[2022-02-23 04:43] godhj93 commented on #553
Hi, all.

Is there any way to use python API like ```interpreter.predict(x)``` in raspberry PI?

basically tensorflow lite supports python API in [here](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python) so i want to know whether i can use python function for larq inferencing

[2022-02-23 04:45] godhj93 commented on #553
Hi, all

is there any way to use python API like ```interpreter.predict(x)``` ?

I want to know whether i can use python function for inferencing in larq like tensorflow lite [here](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python)

[2022-02-23 05:12] godhj93 commented on #633
Hi @Tombana ,

I have same problem like @tch2841.

briefly, I want to use python API like
[code]

in raspberry pi or NVIDIA jetson xavier, but when i try it, it requires larq_compute_engine python module which is not able to be installed in raspberry pi. it seems not support installing in the [hardware.](https://pypi.org/project/larq-compute-engine/#files)

is there any possible way to use python

[2022-02-23 07:53] Tombana commented on #553
There is a Python interpreter, but it is not optimized for speed so it can not be used for benchmarking latency: https://docs.larq.dev/compute-engine/api/python/#interpreter

[2022-02-23 07:56] Tombana commented on #633
@godhj93 Please see this issue: https://github.com/larq/compute-engine/issues/653 . It will allow you to build a Python package for the Raspberry Pi.

[2022-03-10 12:29] simonmaurer commented on #711
closing issue as it has been solved by #717

[2022-03-10 12:29] #711 closed

[2022-04-24 13:40] godhj93 opened #730 "core dumped when number of threads is larger than 2"
Hi all,

I'm testing my BNN model on Raspyberry PI and Jetson XAVIER CPU using benchamark tool.

When I try to test it with --num_threads>2 option it is terminated and says as:

[code]

Is there any solution?

Many Thanks.

[2022-04-25 06:36] CNugteren commented on #730
Thanks for reporting the issue. Actually, we noticed this bug a while ago but forgot to report an issue, sorry about that.

The good news is that this should already be fixed in the latest `main` branch since 5 days, see https://github.com/larq/compute-engine/pull/727. We will soon release a new version of the larq-compute-engine with the fixed binaries. Until then you can compile them yourself fr

[2022-04-25 13:10] CNugteren commented on #730
We have just made a new release ([v0.7.0](https://github.com/larq/compute-engine/releases/tag/v0.7.0)), which has pre-compiled binaries that should no longer suffer from this issue. Could you try it out and confirm by closing this issue? Thanks!

[2022-04-25 13:30] #730 closed

[2022-05-04 18:20] aqibsaeed opened #735 "Benchmarking custom model"
Hi,

Is it possible to run benchmarking on a model (e.g., a custom model built/trained using larq) as described here (https://docs.larq.dev/compute-engine/benchmark/) under Android phone section?

Thanks in advance.

[2022-05-04 19:06] aqibsaeed commented on #735
I was able to run it on android phone, but I have another question about inference times.

"Inference timings in us" what does "us" means? is it micro seconds?

[2022-05-04 19:28] aqibsaeed commented on #735
Got it from here. https://docs.larq.dev/compute-engine/end_to_end/

[2022-05-04 19:28] #735 closed

[2022-05-04 19:47] aqibsaeed opened #736 "Int8 quantization for microcontroller"
Hi,

Is there a way to get a int8 quantized model that can eventually run on a microcontroller? I am converting a binary densenet keras model (https://docs.larq.dev/zoo/api/literature/#binarydensenet28) as follows but it does not result in a quantized model. Am I missing something here?

[code]

Thanks in advance.

[2022-05-05 07:06] Tombana commented on #735
Good to hear that you got it working!

That is correct.

[2022-05-06 18:16] aqibsaeed commented on #736
Any pointers on how to solve this?

[2022-05-09 07:12] CNugteren commented on #736
How did you conclude that it does not result in a quantized model? I got a INT8/BNN model by running the code snippet below:
[code]
I inspected the resulting `.tflite` file in [Netron](https://netron.app/).

[2022-05-09 08:44] aqibsaeed commented on #736
I tried the following:

[code]

Now if I submit it to `https://plumerai.com/benchmark`: I get the following response back: `Your model contains layers that aren't INT8 quantized but instead use floating-point values. This is not suitable for microcontrollers. You can find information on how to quantize your model in the TensorFlow documentation.`

[2022-05-09 08:55] aqibsaeed commented on #736
I do not get the above mentioned error when I use your snippet. Maybe I am missing something here `experimental_default_int8_range`.

[2022-05-09 09:03] CNugteren commented on #736
Indeed, if I run your snippet I get a model that has a float layer in there. You can see this in Netron:
![float](https://user-images.githubusercontent.com/1162108/167377072-759d4ee6-8f8c-4d88-8ec1-7ad10b52e929.png)

@Tombana , do you perhaps have any idea why this might happen?

[2022-05-09 09:16] aqibsaeed commented on #736
There's also a difference at the start

Custom CIFAR-10 Model

![image](https://user-images.githubusercontent.com/5706772/167379287-d966f5b7-f58c-4e45-aeb2-c62ec4a58818.png)

IN-1K Model

![image](https://user-images.githubusercontent.com/5706772/167379372-8490b014-88f3-4c9d-9873-5d4ca1bf4f1c.png)

[2022-05-09 10:59] Tombana commented on #736
I'm not sure, this sounds like a bug in the converter, it might be in the tensorflow converter itself. From what I see in the two code snippets, the difference is only in

[code]

That shouldn't affect the outcome of the converter though.

Which version of `larq-compute-engine` was used for this?

[2022-05-09 11:02] aqibsaeed commented on #736
I tested converting removing this

[code]

but it does not work.

`flatbuffers-1.12 larq-compute-engine-0.7.0`

[2022-05-09 11:26] aqibsaeed commented on #736
I think the problem occurs if one specify `input_shape` or `input_tensor` when creating model object `lqz.literature.BinaryDenseNet28`.

[2022-05-11 14:18] CNugteren commented on #736
I managed to reproduce the issue with a minimal example without the zoo, without binary layers, with just 3 layers:
[code]
With `larq-compute-engine==0.7.0 tensorflow==2.8.0 keras==2.8.0` this gives:
![image](https://user-images.githubusercontent.com/1162108/167869403-edde613d-9066-4c66-855c-085eb4e53baf.png)

If I remove any of the three layers (`Conv2D`, `MaxPool2D`, or `BatchNormalization`) the

[2022-05-11 14:21] aqibsaeed commented on #736
Interesting. Thank you for looking into it.

[2022-05-11 15:45] aqibsaeed commented on #736
Got it! I just double checked if I load model weights, conversion works fine. Thanks again for looking into this. Closing this now.

[2022-05-19 14:08] CNugteren commented on #682
This is no longer the case since the TF 2.8 update I believe, see e.g. this successful build:
https://github.com/larq/compute-engine/actions/runs/2220640761

I'm therefore closing this issue.

[2022-05-19 14:08] #682 closed

[2022-06-22 07:43] amkmpro opened #742 "Failed import 'org.tensorflow.lite.DataType' on Android project"
Hello, thank you for excellent framework.
I want to run LCE on Android. I do those steps from tutorial ([this](https://docs.larq.dev/compute-engine/quickstart_android/#2-add-lce-compatible-tensorflow-lite-aar-to-the-project)), but after add below code:
`implementation ('org.tensorflow:tensorflow-lite-support:0.1.0') {
        exclude module: 'tensorflow-lite'
    }`
classifier.java (under lib_supp

[2022-06-23 06:33] CNugteren commented on #742
I could not reproduce this issue. I took a fresh clone of the TensorFlow examples repository, then followed the steps up to the point where this exclude is added. Then I tried to build the project and I don't see any issues when I run `Make Project`. My `git diff` at this point looks like this:
[code]

When exactly do you see this message, during the project build or at runtime?

[2022-06-23 08:14] amkmpro commented on #742
Thank you for replay.
I founded that I used  `org.tensorflow:tensorflow-lite-support:0.1.0` and there isn't `org.tensorflow.lite.DataType` in version: 0.1.0, hence I changed it to  `org.tensorflow:tensorflow-lite-support:0.3.0` and I run `Make Project ` without error. When I run it on device, it closed rapidly.
May you run it?

[2022-06-23 09:29] CNugteren commented on #742
Indeed, for me it also crashes. Did you do all the next steps in the tutorial as well (specifying the model, adding it to the assets folder, etc.)? And what error did you get (you can see it in the `logcat` tab)? For me it errors with:
[code]
I could resolve this issue by using [an older version of the LCE package (0.6.2 instead of 0.7.0)](https://github.com/larq/compute-engine/releases/tag/v0.6.2

[2022-06-23 09:39] amkmpro commented on #742
Unfortunately, I have same error. But your solution doesn't work for me, because I mention before, when I use `org.tensorflow:tensorflow-lite-support:0.1.0` in classifier.java (under lib_support ) doesn't import 'org.tensorflow.lite.DataType'.

[2022-06-23 09:41] CNugteren commented on #742
If you still get that some error, you most likely didn't downgrade the LCE package properly. As I said above, you'll need [an older version of the LCE package (0.6.2 instead of 0.7.0)](https://github.com/larq/compute-engine/releases/tag/v0.6.2. Then re-run the `mvn install` command (I gave it a new version number and also updated that in the gradle file, but not sure if that's needed).

[2022-06-23 13:57] amkmpro commented on #742
Thank you again for your reply.
I used `org.tensorflow:tensorflow-lite-support:0.3.0` and LCE package 0.6.2. But, there are many duplication classes when I run `Make Project`.

[2022-06-23 14:10] CNugteren commented on #742
You'll have to make both changes, not one of the two:

Or at least, that's what I did to make it work.

[2022-06-23 14:32] amkmpro commented on #742
Thanks you, it run finally.

`org.tensorflow:tensorflow-lite-support:0.1.0`
LCE package:0.6.2
Gradle:4.2.0

[2022-07-03 05:29] #742 closed

[2022-07-14 19:08] ZhanqiuHu opened #744 "`convert_keras_model()` does not work as expected for BinaryDenseNet37 Dilated and XNORNet"
I tried using python 3.6 + LCE 0.6.2 and python 3.7/3.8 + LCE 0.7.0 to run the following code, and the tflite file generated has unexpected sizes:

For python 3.6 + LCE 0.6.2:
XNOR tflite: 88.9 MB
BinaryDenseNet37 tflite: 25.6 MB

For python 3.7/3.8 + LCE 0.7.0:
XNOR tflite: 235.2 MB
BinaryDenseNet37 tflite: 5.4 MB (this looks normal)

Do you know what is causing this and what will be a solution?

[2022-07-20 03:02] lluevano opened #745 "DoReFa quantizer with high number of MACs/Ops on LCE"
Hello, I have a couple of questions regarding quantizer options for Larq and LCE.

I am designing a BNN using the DoReFa quantizer, however, I noticed a very high number of estimated MACs and Ops when converting the model for ARM64. Changing the quantizer to "ste_sign" dramatically lowered the number of MACs and Ops.

I was wondering if there is a way to use the DoReFa quantizer for training witho

[2022-07-26 18:30] lluevano commented on #745
I noticed some issues with the latest version only (0.7.0) but not the one before (0.6.2).
Grouped convolutions (FP or binary) are converted as custom ops in the latest version.

Example:
Grouped (g=2)  convs converter output:

Quantizer small example (2 qconv layers):

Example with ste_sign mode="weights":

Changing to DoReFa mode="weights":

I was able to successfully benchmark my model with DoR

[2022-07-26 21:46] lgeiger commented on #745
Sorry for the late reply.

Grouped convolutions (FP or binary) are converted as custom ops in the latest version.

Unfortunately this was an issue with TensorFlow 2.8 which LCE 0.7.0 uses under the hood. This has been fixed on master since we upgraded to 2.9, but we haven't published a new release with it yet. Sorry about that. For now, I'd recommend sticking with 0.6.2 if grouped convolution supp

[2022-08-18 19:14] ZhanqiuHu opened #748 "Get Operator-wise Profiling Results"
Our group wants to profile BNNs on some ARM64 processors. We tried running `./lce_benchmark_model_aarch64` with the `--enable_op_profiling` set to `true`. The result looks like this (for QuickNet), with many floating-point operators grouped together as `TfLiteXNNPackDelegate` in the report. Is there a way to get the inference time for more specific operators like ADD, MUL, CONV_2D, MAX_POOL_2D, et

[2022-08-19 07:57] CNugteren commented on #748
At the moment I do not think this is possible, because it is the way XNNPACK behaves. However, I just saw [this blog post](https://blog.tensorflow.org/2022/06/Profiling-XNNPACK-with-TFLite.html), which indicates that XNNPACK detailed profiling is available in the next release of TensorFlow. Since the Larq Compute Engine is still based on TF 2.9.0, this is not yet supported. We plan to update LCE t

[2022-08-25 09:44] lgeiger commented on #745
Grouped convolutions (FP or binary) are converted as custom ops in the latest version.

@lluevano sorry for the delay. We just release v0.8.0 including a fix for this. Let me know if that works for you.

[2022-09-07 09:04] #748 closed